/*-------------------------------------------------------------------------*/
/* # FONT ICONS
/*-------------------------------------------------------------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-iaop7s');
	src:url('../fonts/icomoon.eot?#iefix-iaop7s') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-iaop7s') format('truetype'),
		url('../fonts/icomoon.woff?-iaop7s') format('woff'),
		url('../fonts/icomoon.svg?-iaop7s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/**
* Streamline http://streamlineicons.com
* ----------------------------------------------------------------------------
*/

/**
* Streamline filled http://streamlineicons.com
* ----------------------------------------------------------------------------
*/

/**
* Font Awesome http://fontawesome.io
* ----------------------------------------------------------------------------
*/

.icon-binoculars-filled:before {
	content: "\65";
}
.icon-nuclear-filled:before {
	content: "\66";
}
.icon-loupe-filled:before {
	content: "\47";
}
.icon-zoomin-filled:before {
	content: "\32";
}
.icon-zoomout-filled:before {
	content: "\33";
}
.icon-flag2-filled:before {
	content: "\e027";
}
.icon-flag1-filled:before {
	content: "\e02a";
}
.icon-heart-filled:before {
	content: "\e036";
}
.icon-angel-heart-filled:before {
	content: "\e038";
}
.icon-star-filled:before {
	content: "\e03f";
}
.icon-bag-filled:before {
	content: "\e130";
}
.icon-cart-filled:before {
	content: "\e13a";
}
.icon-photo-camera-filled:before {
	content: "\e153";
}
.icon-plus-filled:before {
	content: "\e24c";
}
.icon-plus-sq-filled:before {
	content: "\e24e";
}
.icon-full-screen1-filled:before {
	content: "\e256";
}
.icon-full-screen3-filled:before {
	content: "\e260";
}
.icon-minus-filled:before {
	content: "\e272";
}
.icon-minus-sq-filled:before {
	content: "\e274";
}
.icon-full-screen2-filled:before {
	content: "\e28e";
}
.icon-load-filled:before {
	content: "\e29c";
}
.icon-cross-filled:before {
	content: "\e2aa";
}
.icon-spanners-filled:before {
	content: "\e2b8";
}
.icon-bug-filled:before {
	content: "\e36d";
}
.icon-filter-filled:before {
	content: "\e413";
}
.icon-layers-filled:before {
	content: "\e415";
}
.icon-marijuana-filled:before {
	content: "\e50c";
}
.icon-arrow-bottom-filled:before {
	content: "\e5ce";
}
.icon-arrow-top-filled:before {
	content: "\e5cf";
}
.icon-arrow-left-filled:before {
	content: "\e5d0";
}
.icon-arrow-right-filled:before {
	content: "\e5d1";
}
.icon-arrow-left-sq-filled:before {
	content: "\e604";
}
.icon-arrow-right-sq-filled:before {
	content: "\e605";
}


.icon-binoculars:before {
	content: "\63";
}
.icon-nuclear:before {
	content: "\64";
}
.icon-loupe:before {
	content: "\46";
}
.icon-zoomin:before {
	content: "\34";
}
.icon-zoomout:before {
	content: "\35";
}
.icon-quote:before {
	content: "\2d";
}
.icon-diploma:before {
	content: "\2e";
}
.icon-screen:before {
	content: "\5e";
}
.icon-medal-star:before {
	content: "\e01d";
}
.icon-ribbon-star:before {
	content: "\e01e";
}
.icon-crown:before {
	content: "\e025";
}
.icon-flag2:before {
	content: "\e028";
}
.icon-flag1:before {
	content: "\e029";
}
.icon-heart:before {
	content: "\e035";
}
.icon-angel-heart:before {
	content: "\e037";
}
.icon-star:before {
	content: "\e040";
}
.icon-comment:before {
	content: "\e04a";
}
.icon-download:before {
	content: "\e0bd";
}
.icon-mail:before {
	content: "\e0c6";
}
.icon-profile:before {
	content: "\e0f6";
}
.icon-bag:before {
	content: "\e12f";
}
.icon-cart:before {
	content: "\e139";
}
.icon-bill:before {
	content: "\e143";
}
.icon-photo-camera:before {
	content: "\e152";
}
.icon-tape-recorder:before {
	content: "\e19c";
}
.icon-paper-tablet:before {
	content: "\e1eb";
}
.icon-plus:before {
	content: "\e24b";
}
.icon-plus-rd:before {
	content: "\e24d";
}
.icon-plus-sq:before {
	content: "\e24f";
}
.icon-full-screen:before {
	content: "\e257";
}
.icon-full-screen3:before {
	content: "\e261";
}
.icon-minus:before {
	content: "\e271";
}
.icon-minus-rd:before {
	content: "\e273";
}
.icon-minus-sq:before {
	content: "\e275";
}
.icon-full-screen2:before {
	content: "\e28f";
}
.icon-load:before {
	content: "\e29b";
}
.icon-cross:before {
	content: "\e2a8";
}
.icon-spanners:before {
	content: "\e2b7";
}
.icon-time-truck:before {
	content: "\e2fb";
}
.icon-work-table:before {
	content: "\e309";
}
.icon-pig:before {
	content: "\e315";
}
.icon-bug:before {
	content: "\e36c";
}
.icon-filter:before {
	content: "\e412";
}
.icon-layers:before {
	content: "\e414";
}
.icon-cubes:before {
	content: "\e419";
}
.icon-grid:before {
	content: "\e4a5";
}
.icon-way-left:before {
	content: "\e4b9";
}
.icon-way-right:before {
	content: "\e4ba";
}
.icon-marijuana:before {
	content: "\e50b";
}
.icon-arrow-bottom:before {
	content: "\e5ca";
}
.icon-arrow-top:before {
	content: "\e5cb";
}
.icon-arrow-left:before {
	content: "\e5cc";
}
.icon-arrow-right:before {
	content: "\e5cd";
}
.icon-arrow-left-sq:before {
	content: "\e606";
}
.icon-arrow-right-sq:before {
	content: "\e607";
}


.icon-fa-flag:before {
	content: "\f024";
}
.icon-fa-twitter:before {
	content: "\f099";
}
.icon-fa-facebook:before {
	content: "\f09a";
}
.icon-fa-github:before {
	content: "\f09b";
}
.icon-fa-google-plus:before {
	content: "\f0d5";
}
.icon-fa-envelope:before {
	content: "\f0e0";
}
.icon-fa-linkedin:before {
	content: "\f0e1";
}
.icon-fa-spinner:before {
	content: "\f110";
}
.icon-fa-youtube-play:before {
	content: "\f16a";
}
.icon-fa-instagram:before {
	content: "\f16d";
}
.icon-fa-flickr:before {
	content: "\f16e";
}
.icon-fa-tumblr:before {
	content: "\f173";
}
.icon-fa-dribbble:before {
	content: "\f17d";
}
.icon-fa-skype:before {
	content: "\f17e";
}
.icon-fa-foursquare:before {
	content: "\f180";
}
.icon-fa-vk:before {
	content: "\f189";
}
.icon-fa-wordpress:before {
	content: "\f19a";
}
.icon-fa-behance:before {
	content: "\f1b4";
}
.icon-fa-soundcloud:before {
	content: "\f1be";
}
.icon-fa-vine:before {
	content: "\f1ca";
}
.icon-fa-lastfm:before {
	content: "\f202";
}
.icon-fa-pinterest-p:before {
	content: "\f231";
}


