
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

			<div class="comments">
				<h4>Сomments <span class="comments-count">(3)</span></h4>

				<div class="geo-comment">
					<div class="row">
						<div class="col-sm-1">
							<img src="{{ site.baseurl }}/assets/img/users/user1.jpg" class="geo-avatar" alt="...">
						</div>
						<div class="col-sm-9">
							<h5 class="geo-comment-author"><a href="#">Ruben Bristian</a></h5>
							<div class="geo-comment-date">September 30, 2014</div>
						</div>
						<div class="col-sm-2">
							<a href="#" class="comment-reply-link">Reply</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-11 col-sm-offset-1">
							<p>A collection of textile samples lay spread out on the table – Samsa was a travelling salesman – and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
						</div>
					</div>
				</div>

				<div class="geo-comment geo-comment-reply">
					<div class="row">
						<div class="col-sm-1 col-sm-offset-1">
							<img src="{{ site.baseurl }}/assets/img/users/user3.jpg" class="geo-avatar" alt="...">
						</div>
						<div class="col-sm-8">
							<h5 class="geo-comment-author"><a href="#">Jane Doe</a></h5>
							<div class="geo-comment-date">September 30, 2014</div>
						</div>
						<div class="col-sm-2">
							<a href="#" class="comment-reply-link">Reply</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-2">
							<p>Samsa was a travelling salesman – and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff.</p>
						</div>
					</div>
				</div>

				<div class="geo-comment">
					<div class="row">
						<div class="col-sm-1">
							<img src="{{ site.baseurl }}/assets/img/users/user4.jpg" class="geo-avatar" alt="...">
						</div>
						<div class="col-sm-9">
							<h5 class="geo-comment-author"><a href="#">Ruben Bristian</a></h5>
							<div class="geo-comment-date">September 30, 2014</div>
						</div>
						<div class="col-sm-2">
							<a href="#" class="comment-reply-link">Reply</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-11 col-sm-offset-1">
							<p>Samsa was a travelling salesman – and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff.</p>
						</div>
					</div>
				</div>

				<div class="addcomment">
					<h4>Leave a Reply</h4>
					<div class="addreview addreview--add">
						<form class="addreview__form">
							<div class="addreview__form__body">
								<input class="addreview__form__author" name="author" type="text" value="" aria-required="true"  placeholder="Name *">
								<input class="addreview__form__email" name="email" type="text" value="" aria-required="true" placeholder="Email *">
								<textarea class="addreview__form__textarea" name="comment" aria-required="true" placeholder="Comment *" cols="45" rows="5"></textarea>
							</div>
							<div class="addreview__form__footer">
								<input class="gbtn" type="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
