<div class="geo-media geo-media-slider">
	<!-- <img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="...">
	<div class="geo-media-fxlayout">
		<a href="#"><span class="icon-arrow-left"></span></a>
		<a href="#"><span class="icon-arrow-right"></span></a>
	</div> -->

	<div class="tp-banner-container">
		<div class="tp-banner blog-item-slider" >
			<ul>

				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>

				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>

				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>

			</ul>
		</div>
	</div>

</div>

{% include blog/item/content.html %}
