
<div class="blogitem-media">

	<div class="tp-banner-container">
		<div id="blogitem-slider" class="tp-banner">
			<ul>
				<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>
				<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>
				<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
					<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
				</li>
			</ul>
		</div>
	</div>

</div>

{% include blog/item/content.html %}
