
<div class="geo-post-gloabal-meta-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">

				<div class="geo-posts-nav">
					<a href="#" class="geo-post-prev">
						<div>
							<h5>She dances on her knees pirate prince</h5>
							<h6>by Emily Van Groen</h6>
							<div><span class="icon-arrow-left"></span> Previous Post</div>
						</div>
						<img src="{{ site.baseurl }}/assets/img/blog/posts-prev.jpg" alt="..."/>
					</a>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="geo-recomended geo-recomended-bottom">
					<ul>
						<li>Share</li>
						<li><a href="#"><span class="icon-fa-facebook"></span></a></li>
						<li><a href="#"><span class="icon-fa-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-fa-twitter"></span></a></li>
						<li><a href="#"><span class="icon-fa-google-plus"></span></a></li>
						<li><a href="#"><span class="icon-fa-instagram"></span></a></li>
						<li><a href="#"><span class="icon-fa-vk"></span></a></li>
					</ul>
				</div>
				<div class="geo-tags geo-post-meta">
					<ul>
						<li>Tags:</li>
						<li><a href="#" class="geo-tag">Analysis</a></li>
						<li><a href="#" class="geo-tag">Art</a></li>
						<li><a href="#" class="geo-tag">Audio</a></li>
						<li><a href="#" class="geo-tag">Articles</a></li>
					</ul>
				</div>
				<div class="geo-categories geo-post-meta">
					<ul>
						<li>Posted in:</li>
						<li><a href="#" class="geo-tag">Corporate</a></li>
						<li><a href="#" class="geo-tag">Design</a></li>
						<li><a href="#" class="geo-tag">Audio</a></li>
						<li><a href="#" class="geo-tag">Photography</a></li>
					</ul>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="geo-posts-nav">
					<a href="#" class="geo-post-next">
						<div>
							<h5>Hunger at her heels freedom in her eyes</h5>
							<h6>by Maria S. Walton</h6>
							<div>Next Post <span class="icon-arrow-right"></span></div>
						</div>
						<img src="{{ site.baseurl }}/assets/img/blog/posts-next.jpg" alt="..."/>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>
