
	<div class="container">
		<div class="geo-post-area">

			<h6>Post a Comment</h6>

			<div class="row">
				<form>
					<div class="col-sm-3">
						<input id="author" name="author" type="text" value="" placeholder="Name*" />
						<input id="email" name="email" type="text" value="" placeholder="E-mail*" />
					</div>
					<div class="col-sm-6">
						<textarea id="comment" name="comment" placeholder="Comment*" cols="45" rows="5"></textarea>
					</div>
					<div class="col-sm-3">
						<input class="gbtn" type="submit" value="Submit">
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="addreview addreview--add">
						<form class="addreview__form">
							<div class="addreview__form__body">
								<input class="addreview__form__author" name="author" type="text" value="" aria-required="true"  placeholder="Name *">
								<input class="addreview__form__email" name="email" type="text" value="" aria-required="true" placeholder="Email *">
								<textarea class="addreview__form__textarea" name="comment" aria-required="true" placeholder="Comment *" cols="45" rows="5"></textarea>
							</div>
							<div class="addreview__form__footer">
								<input class="gbtn" type="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>


