<div class="geo-box geo-respond">
	<div class="container">
		<div class="geo-post-area">
			<h6>Post a Comment</h6>
			<div class="row">
				<form>
					<div class="col-sm-3">
						<input id="author" name="author" type="text" value="" placeholder="Name*" />
						<input id="email" name="email" type="text" value="" placeholder="E-mail*" />
					</div>
					<div class="col-sm-6">
						<textarea id="comment" name="comment" placeholder="Comment*" cols="45" rows="5"></textarea>
					</div>
					<div class="col-sm-3">
						<input name="submit" type="submit" id="submit" class="geo-btn geo-btn-primary" value="Submit Comment" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
