
<nav class="share">
	<span class="title">Share</span>
	<a href="#"><span class="icon-fa-facebook"></span><span class="share-count">13</span></a>
	<a href="#"><span class="icon-fa-twitter"></span><span class="share-count">5</span></a>
	<a href="#"><span class="icon-fa-google-plus"></span><span class="share-count">2</span></a>
	<a href="#"><span class="icon-fa-pinterest-p"></span><span class="share-count">1</span></a>
	<a href="#"><span class="icon-fa-vk"></span><span class="share-count">3</span></a>
</nav>

