<div class="row">
	<div class="col-sm-6">

		<div class="geo-post-meta">
			<ul>
				<li><a href="#">43 <span class="icon-hart"></span> Like</a></li>
				<li><a href="#"><span class="icon-comment"></span> 3 Comments</a></li>
				<li><a href="#"><span class="icon-flag"></span> Le Coque de Author</i></a></li>
			</ul>
		</div>

	</div>
	<div class="col-sm-6">

		<div class="geo-recomended geo-recomended-top">
			<ul>
				<li>Recomended</li>
				<li><a href="#"><i class="fa fa-facebook"></i><span class="geo-share-count">13</span></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i><span class="geo-share-count">5</span></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>

	</div>
</div>

<div class="geo-post-meta-date">Febrary 20, 2015</div>
