
<div class="container">
	<div class="row">
		<div class="col-sm-7">

			<div class="blogitem-media">
				<img src="{{ site.baseurl }}/assets/img/portfolio/item-1.jpg" alt="...">
				<img src="{{ site.baseurl }}/assets/img/portfolio/item-2.jpg" alt="...">
				<img src="{{ site.baseurl }}/assets/img/portfolio/item-3.jpg" alt="...">
			</div>

		</div>
		<div class="col-sm-5">

			<nav class="meta">
				<time>Febrary 20, 2015</time>
			</nav>

			<h1>Portfolio Single Post</h1>

			<div class="portfolioitem-status">
				<b>Status:</b> Client work
			</div>

			<div class="portfolioitem-status">
				<b>Commenting:</b> Actively seeking critiques
			</div>

			<h5>About Project</h5>

			<p>Lorem ipsum dolor sit amet, eros dolores omittantur eum ex, ne mea soluta putant constituam, quod patrioque mei et. Intellegat expetendis ne pri, has ea inani denique cotidieque.</p>

			<p>Amet harum pericula et est, qui ea utamur oblique meliore, duo et illum constituto. Dicta meliore mediocritatem ut vis, duo idque discere labores ut. Verear complectitur mea eu. Pri ut iriure comprehensam interpretaris, sit quaeque molestiae et.</p>

			{% include blog/item/share.html %}

		</div>
	</div>
</div>
