
{% include global/item-navigation.html %}

<div class="afteritem">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				{% include blog/item/share.html %}

				<nav class="tags">
					<span class="title">Tags:</span>
					<a href="#">Analysis</a>
					<a href="#">Art</a>
					<a href="#">Audio</a>
					<a href="#">Articles</a>
					<a href="#">Psychedelic</a>
					<a href="#">Issues</a>
					<a href="#">Gist</a>
					<a href="#">Life is good</a>
					<a href="#">Pull requests</a>
				</nav>

				<nav class="categories">
					<span class="title">Posted in:</span>
					<a href="#">Corporate</a>
					<a href="#">Design</a>
					<a href="#">Audio</a>
					<a href="#">Photography</a>
				</nav>

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			{% include global/similar-unborder.html %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			{% include global/comments-area.html %}
		</div>
	</div>
</div>

