
<nav class="footer-social footer-social-clean">
	<a class="vk" href="#">
		<span class="icon-fa-vk"></span>
		<span class="text">ВКонтакте</span>
	</a>
	<a class="tumblr" href="#">
		<span class="icon-fa-tumblr"></span>
		<span class="text">Tumblr</span>
	</a>
	<a class="facebook" href="#">
		<span class="icon-fa-facebook"></span>
		<span class="text">Facebook</span>
	</a>
	<a class="linkedin" href="#">
		<span class="icon-fa-linkedin"></span>
		<span class="text">LinkedIn</span>
	</a>
	<a class="twitter" href="#">
		<span class="icon-fa-twitter"></span>
		<span class="text">Twitter</span>
	</a>
	<a class="instagram" href="#">
		<span class="icon-fa-instagram"></span>
		<span class="text">Instagram</span>
	</a>
	<a class="google-plus" href="#">
		<span class="icon-fa-google-plus"></span>
		<span class="text">Google+</span>
	</a>
	<a class="soundcloud" href="#">
		<span class="icon-fa-soundcloud"></span>
		<span class="text">SoundCloud</span>
	</a>
	<a class="lastfm" href="#">
		<span class="icon-fa-lastfm"></span>
		<span class="text">Last.fm</span>
	</a>
	<a class="youtube" href="#">
		<span class="icon-fa-youtube-play"></span>
		<span class="text">YouTube</span>
	</a>
	<a class="pinterest" href="#">
		<span class="icon-fa-pinterest-p"></span>
		<span class="text">Pinterest</span>
	</a>
	<a class="dribbble" href="#">
		<span class="icon-fa-dribbble"></span>
		<span class="text">Dribbble</span>
	</a>
	<a class="behance" href="#">
		<span class="icon-fa-behance"></span>
		<span class="text">Behance</span>
	</a>
	<a class="flickr" href="#">
		<span class="icon-fa-flickr"></span>
		<span class="text">Flickr</span>
	</a>
	<a class="foursquare" href="#">
		<span class="icon-fa-foursquare"></span>
		<span class="text">Foursquare</span>
	</a>
	<a class="github" href="#">
		<span class="icon-fa-github"></span>
		<span class="text">GitHub</span>
	</a>
</nav>
