<nav class="footer-social footer-social-colorized">
	<!-- <a class="vk" href="#"><span class="icon-vk"></span></a> -->
	<!-- <a class="tumblr" href="#"><span class="icon-tumblr"></span></a> -->
	<a class="facebook" href="#"><span class="icon-facebook"></span></a>
	<!-- <a class="linkedin" href="#"><span class="icon-linkedin"></span></a> -->
	<a class="twitter" href="#"><span class="icon-twitter"></span></a>
	<a class="instagram" href="#"><span class="icon-instagram"></span></a>
	<a class="google-plus" href="#"><span class="icon-google-plus"></span></a>
	<!-- <a class="soundcloud" href="#"><span class="icon-soundcloud"></span></a> -->
	<!-- <a class="lastfm" href="#"><span class="icon-lastfm"></span></a> -->
	<a class="youtube" href="#"><span class="icon-youtube-play"></span></a>
	<!-- <a class="pinterest" href="#"><span class="icon-pinterest-p"></span></a> -->
	<!-- <a class="dribbble" href="#"><span class="icon-dribbble"></span></a> -->
	<!-- <a class="behance" href="#"><span class="icon-behance"></span></a> -->
	<!-- <a class="flickr" href="#"><span class="icon-flickr"></span></a> -->
	<!-- <a class="foursquare" href="#"><span class="icon-foursquare"></span></a> -->
	<!-- <a class="github" href="#"><span class="icon-github"></span></a> -->
</nav>
