
<header class="geo-header geo-header-large">
	<div class="container">

		<nav class="geo-main-logo">
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/assets/img/header/logo.png" alt="...">
			</a>
		</nav>

		<nav class="geo-languages-menu">
			<ul>
				<li>
					<a href="#">En</a>
					<ul>
						<li><a href="#">Ua</a></li>
						<li><a href="#">Ru</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<nav class="main-menu-cart">
			<ul>
				<li>
					<a>
						<span class="icon-bag"></span>
						<span class="purchased-items">2</span>
					</a>
				</li>
			</ul>

			<div class="shoping-cart-box">
				<div class="cart-item">
					<div class="cart-image">
						<a href="#"><img src="{{ site.baseurl }}/assets/img/shop/item/item-03-th.jpg" alt="..."></a>
					</div>
					<div class="cart-details">
						<div class="cart-title"><a href="#">Solid Dale Knit</a></div>
						<div class="cart-countprice">1 × <span>£230.00</span></div>
					</div>
					<a class="cart-close"><span class="icon-cross"></span></a>
				</div>
				<div class="cart-item">
					<div class="cart-image">
						<a href="#"><img src="{{ site.baseurl }}/assets/img/shop/item/item-06-th.jpg" alt="..."></a>
					</div>
					<div class="cart-details">
						<div class="cart-title"><a href="#">Brass Saxophone Lorem ipsum dolor sit</a></div>
						<div class="cart-countprice">2 × <span>£230.00</span></div>
					</div>
					<a class="cart-close"><span class="icon-cross"></span></a>
				</div>
				<div class="cart-footer">
					<span class="cart-subtotal">Subtotal: <span>£690.00</span></span>
					<a class="gbtn gbtn-invert cart-veiwcart"><span class="icon-bag"></span> View cart</a>
				</div>
				<div class="cart-empty">No products in the cart</div>
			</div>
		</nav>

		<nav class="geo-searchbox-menu">
			<form class="geo-searchbox">
				<input class="geo-searchbox-input" type="search" placeholder="What are you looking for?" name="search" onkeyup="buttonUp();" required>
				<input class="geo-searchbox-submit" type="submit" value="Go">
				<span class="geo-searchbox-icon"><span class="icon-loupe"></span></span>
			</form>
		</nav>

		<nav class="geo-main-menu">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>

				<li class="geo-megamenu geo-megamenu-col-5">
					<a href="#">Blog</a>
					<ul class="geo-submenu">
						<li>
							<h6>Classic Blog</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">Large Media</a></li>
								<li><a href="#">Large Media with Sidebar</a></li>
								<li><a href="#">Small Media</a></li>
								<li><a href="#">Small Media with Sidebar</a></li>
							</ul>
						</li>
						<li>
							<h6>Mansory Blog</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
						<li>
							<h6>Grid Blog</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
						<li>
							<h6>Custom blog</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">Horizontal</a></li>
								<li><a href="#">Horizontal with Sidebar</a></li>
							</ul>
						</li>
						<li>
							<h6>Single post</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">Single Image</a></li>
								<li><a href="#">With Sidebar</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="geo-megamenu geo-megamenu-col-4">
					<a href="#">Portfolio</a>
					<ul class="geo-submenu">
						<li>
							<h6>Grid Style</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
						<li>
							<h6>Mansory</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
						<li>
							<h6>Multigrid</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
						<li>
							<h6>Portfolio Single Item</h6>
							<ul class="geo-subsubmenu">
								<li><a href="#">Classic</a></li>
								<li><a href="#">With Sidebar</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="geo-classicmenu">
					<a href="#">Shop</a>
					<ul class="geo-submenu">
						<li>
							<a href="#">Shop Catalog <span class="icon-arrow-right"></span></a>
							<ul class="geo-subsubmenu">
								<li><a href="#">2 Columns</a></li>
								<li><a href="#">3 Columns</a></li>
								<li><a href="#">4 Columns</a></li>
								<li><a href="#">Multigrid</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Single Product <span class="icon-arrow-right"></span></a>
							<ul class="geo-subsubmenu">
								<li><a href="#">Left sidebar</a></li>
								<li><a href="#">Right sidebar</a></li>
								<li><a href="#">Fullwidth</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li>
					<a href="#">Elements</a>
				</li>

				<li>
					<a href="#">Pages</a>
					<ul class="sub-menu">
						<li><a href="#">Corporate</a></li>
						<li><a href="#">Corporate Project</a></li>
						<li><a href="#">Contacts Us</a></li>
						<li><a href="#">Text Page</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">404</a></li>
					</ul>
				</li>

			</ul>

		</nav>

	</div>
</header>
