	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Geometric Theme by Le Coq Studio</title>
	<meta name="description" content="Geometric Theme for Wordpress by Le Coq Studio">
	<meta name="keywords" content="Geometric Theme, Le Coq Studio, Wordpress">
	<meta name="author" content="Le Coq Studio">

	<!-- favicomatic -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicomatic/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicomatic/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/img/favicomatic/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/img/favicomatic/favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="Geometric Theme by Le Coq Studio" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/assets/img/favicomatic/mstile-144x144.png" />

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<!-- <link href="http://fat.github.io/zoom.js/css/zoom.css"> -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/main.css">
