
<div class="item-navigation">

	<a href="#" class="item-prev">
		<img src="{{ site.baseurl }}/assets/img/blog/posts-prev.jpg" alt="..."/>
		<article>
			<h4>Second great post</h4>
			<h5>By <span class="icon-flag1"></span> Fernando Hierro</h5>
			<p><span class="icon-arrow-left"></span> Previous Post</p>
		</article>
	</a>

	<a href="#" class="item-next">
		<img src="{{ site.baseurl }}/assets/img/blog/posts-next.jpg" alt="..."/>
		<article>
			<h4>Fourth post is great and so huge, it have many words and stuff</h4>
			<h5>By <span class="icon-flag1"></span> Alessandro Del Piero</h5>
			<p>Next Post <span class="icon-arrow-right"></span></p>
		</article>
	</a>

</div>

