<div class="geo-pre-footer clearfix">
	<table>
		<tbody>
			<tr>
				<td class="geo-cl-fb"><a href="#"><span class="icon-facebook"></span></a></td>
				<td class="geo-cl-in"><a href="#"><span class="icon-linkedin"></span></a></td>
				<td class="geo-cl-tw"><a href="#"><span class="icon-twitter"></span></a></td>
				<td class="geo-cl-gp"><a href="#"><span class="icon-google-plus"></span></a></td>
				<td class="geo-cl-im"><a href="#"><span class="icon-instagram"></span></a></td>
				<td class="geo-cl-vk"><a href="#"><span class="icon-youtube-play"></span></a></td>
				<td class="geo-cl-vk"><a href="#"><span class="icon-vk"></span></a></td>
			</tr>
		</tbody>
	</table>
</div>
