
<section class="similar similar-default">

	<div class="similar-header">
		<h4>Related Products</h4>

		<nav class="similar-nav">
			<a class="similar-prev"><span class="icon-arrow-left"></span></a>
			<a class="similar-next"><span class="icon-arrow-right"></span></a>
		</nav>
	</div>

	<div class="similar-body">
		<div id="owl-carousel" class="owl-carousel owl-theme">

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-01.jpg" alt="...">
					<span class="status status-new">New</span>
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Bicycle</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-02.jpg" alt="...">
					<span class="status status-sale">Sale</span>
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Brass Saxophone</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£196.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-03.jpg" alt="...">
					<span class="status status-out">Out of stock</span>
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Cinema 3D LED TV</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-04.jpg" alt="...">
					<span class="status status-last">Last examples</span>
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Dicta Qui</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£196.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-05.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Adipisicing Elit</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-06.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Amet Consectetur</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-07.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Dolor Sit</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/shop/list-classic-08.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#product-url" class="item-url"></a>
						<form class="shoplist-form">
							<input type="hidden" name="product" value="7777">
							<button class="gbtn gbtn-sm" type="submit"><span class="icon-cart"></span> Add to cart</button>
						</form>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Lorem Ipsum</a></h5>
					{% include global/item-rating.html %}
					<nav class="price">
						<b>£230.00</b>
						<s>£256.00</s>
					</nav>
				</div>
			</article>

		</div>
	</div>

</section>

