
<section class="similar similar-unborder">

	<div class="similar-header">
		<h4>Related Works</h4>

		<nav class="similar-nav">
			<a class="prev"><span class="icon-arrow-left"></span></a>
			<a class="next"><span class="icon-arrow-right"></span></a>
		</nav>
	</div>

	<div class="similar-body">
		<div id="similar-unborder" class="owl-carousel owl-theme">

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-01.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Bicycle</a></h5>
					<nav class="categories">
						<a href="#">fashion</a>
						<a href="#">art</a>
						<a href="#">photography</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-02.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Brass Saxophone</a></h5>
					<nav class="categories">
						<a href="#">photography</a>
						<a href="#">art</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-03.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Cinema 3D LED TV</a></h5>
					<nav class="categories">
						<a href="#">business</a>
						<a href="#">photography</a>
						<a href="#">art</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-04.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Dicta Qui</a></h5>
					<nav class="categories">
						<a href="#">fashion</a>
						<a href="#">art</a>
						<a href="#">photography</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-01.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Bicycle</a></h5>
					<nav class="categories">
						<a href="#">fashion</a>
						<a href="#">art</a>
						<a href="#">photography</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-02.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Brass Saxophone</a></h5>
					<nav class="categories">
						<a href="#">photography</a>
						<a href="#">art</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-03.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Cinema 3D LED TV</a></h5>
					<nav class="categories">
						<a href="#">business</a>
						<a href="#">photography</a>
						<a href="#">art</a>
					</nav>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/portfolio/related-04.jpg" alt="...">
					<div class="vertical-centering">
						<a href="#" class="gbtn gbtn-sm">Read More</a>
					</div>
				</div>
				<div class="text-content">
					<h5><a href="#">Dicta Qui</a></h5>
					<nav class="categories">
						<a href="#">fashion</a>
						<a href="#">art</a>
						<a href="#">photography</a>
					</nav>
				</div>
			</article>

		</div>
	</div>

</section>

