<section class="land-item land-02">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">

				<div class="land-header">

					<div class="land-icon"><span class="icon-bag"></span></div>
					Multiple Headers
					<div class="land-icon"><span class="icon-bag"></span></div>
					Dedicated Support
					<div class="land-icon"><span class="icon-bag"></span></div>
					Innovative Framework
					<div class="land-icon"><span class="icon-bag"></span></div>
					Google Fonts
					<div class="land-icon"><span class="icon-bag"></span></div>
					Fully Responsive Design
					<div class="land-icon"><span class="icon-bag"></span></div>
					One Click Installation

				</div>

				<div class="land-body">
				</div>

			</div>
		</div>
	</div>

</section>
