<section class="land-item land-headslider">

	<div class="image-contur">
		<img src="{{ site.baseurl }}/assets/img/landings/basic/slider/slider1-07.jpg" alt="...">
	</div>
	<div class="left-part">
		<h6>Geometric theme for your Blog, shop or News Portal</h6>
		<h1>Start your responsive site with Geometric theme</h1>
	</div>


	<!-- <div id="slider" class="flexslider">
		<ul class="slides">
			<li>
				<img src="{{ site.baseurl }}/assets/img/landings/basic/slider/slider1-07.jpg" alt="...">
				<div class="flex-caption">
					<div class="left-part">
						<h6>Geometric theme for your Blog, shop or News Portal</h6>
						<h1>Start your responsive site with Geometric theme</h1>
					</div>
				</div>
			</li>
			<li>
				<img src="{{ site.baseurl }}/assets/img/landings/basic/slider/slider1-07.jpg" alt="...">
				<div class="flex-caption">
					<div class="left-part">
						<h6>Geometric theme for your Blog, shop or News Portal</h6>
						<h1>Start your responsive site with Geometric theme</h1>
					</div>
				</div>
			</li>
		</ul>
	</div> -->

</section>

