
<section class="land-item land-feachers">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="isotope-container">
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="0.00s">
							<span class="icon-cubes"></span>
							<h5>Multiple Headers</h5>
						</div>
					</div>
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="0.25s">
							<span class="icon-binoculars"></span>
							<h5>Dedicated Support</h5>
						</div>
					</div>
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="0.50s">
							<span class="icon-angel-heart"></span>
							<h5>Innovative Framework</h5>
						</div>
					</div>
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="0.75s">
							<span class="icon-bag"></span>
							<h5>Google Fonts</h5>
						</div>
					</div>
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="1.00s">
							<span class="icon-grid"></span>
							<h5>Fully Responsive Design</h5>
						</div>
					</div>
					<div class="isotope-item">
						<div class="wow fadeInUp" data-wow-offset="50" data-wow-delay="1.25s">
							<span class="icon-download"></span>
							<h5>One Click Installation</h5>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
