<section class="land-item land-portfolio">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-7">

				<div class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="0.00s">
					<img src="{{ site.baseurl }}/assets/img/landings/basic/portfolio/portfolio-01.jpg" alt="...">
				</div>

			</div>
			<div class="col-sm-4">

				<div class="right-part">
					<div class="top-part">
						<div class="wow fadeInRight" data-wow-offset="100" data-wow-delay="0.00s">
							<span class="icon-screen"></span>
							<h3>Portfolio Options</h3>
							<p>Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</p>
							<a class="gbtn gbtn-lg" href="#">View Portfolio</a>
						</div>
					</div>
					<div class="isotope-container">
						<div class="isotope-item">
							<div class="wow fadeInRight" data-wow-offset="100" data-wow-delay="0.00s">
								<span class="icon-profile"></span>
								<h4>Large image portfolio item</h4>
								<p>Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</p>
							</div>
						</div>
						</div>
						<div class="isotope-item">
							<div class="wow fadeInRight" data-wow-offset="100" data-wow-delay="0.00s">
								<span class="icon-work-table"></span>
								<h4>Best for your work</h4>
								<p>Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</p>
							</div>
						</div>
						<div class="isotope-item">
							<div class="wow fadeInRight" data-wow-offset="100" data-wow-delay="0.00s">
								<span class="icon-layers"></span>
								<h4>Grids for portfolio</h4>
								<p>Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
