<section class="land-item land-portfolio">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">

				<div class="land-header">

					<div class="land-icon"><span class="icon-screen"></span></div>
					<div class="land-title">Portfolio Options</div>
					<div class="land-description">Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</div>
					<a class="gbtn gbtn-lg" href="#">View Portfolio</a>

					<div class="land-icon"><span class="icon-profile"></span></div>
					<div class="land-title">Large image portfolio item</div>
					<div class="land-description">Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</div>

					<div class="land-icon"><span class="icon-work-table"></span></div>
					<div class="land-title">Best for your work</div>
					<div class="land-description">Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</div>

					<div class="land-icon"><span class="icon-layers"></span></div>
					<div class="land-title">Grids for portfolio</div>
					<div class="land-description">Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</div>

				</div>

				<div class="land-body">
				</div>

			</div>
		</div>
	</div>

</section>
