<section class="land-item land-skills">

	<div class="left-part">
		{% include svg/geometric-logo.svg %}
		<h4>SHOW OFF YOUR SKILLS</h4>
		<p>We must strive every day so that this love of living humanity will be transformed into actual deeds, into acts that serve as examples, as a moving force.</p>
	</div>

	<div class="right-part">
		<div class="isotope-container">
			<div class="isotope-item">
				<span class="count">14 689</span>
				<h5>CLEAN CODE LINES</h5>
			</div>
			<div class="isotope-item">
				<span class="count">1 589</span>
				<h5>CUPS OF COFFEE</h5>
			</div>
			<div class="isotope-item">
				<span class="count">188</span>
				<h5>WORKING DAYS</h5>
			</div>
			<div class="isotope-item">
				<span class="count">226</span>
				<h5>THEME OPTIONS</h5>
			</div>
		</div>
	</div>

</section>
