<section class="land-item land-skills">
	<div class="left-part">
		<div class="wow fadeInLeft" data-wow-offset="100">
			{% include svg/geometric-logo.svg %}
			<h4>Show off your skills</h4>
			<p>We must strive every day so that this love of living humanity will be transformed into actual deeds, into acts that serve as examples, as a moving force.</p>
		</div>
	</div>
	<div class="right-part">
		<div class="isotope-container-grid">
			<div class="isotope-item">
				<span class="number-counter">14,689</span>
				<h5>Clean code lines</h5>
			</div>
			<div class="isotope-item">
				<span class="number-counter">1,589</span>
				<h5>Cups of cpffee</h5>
			</div>
			<div class="isotope-item">
				<span class="number-counter">188</span>
				<h5>Working days</h5>
			</div>
			<div class="isotope-item">
				<span class="number-counter">226</span>
				<h5>Theme options</h5>
			</div>
		</div>
	</div>
</section>
