<section class="land-item land-slider">

	<div id="slider-2" class="flexslider">
		<ul class="slides">
			<li>
				<img src="{{ site.baseurl }}/assets/img/landings/basic/slider/slider2-08.jpg" alt="...">
				<div class="flex-caption">
					<div class="central-part">
						<span class="icon-tape-recorder"></span>
						<h3>Fast and intelligent</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</li>
			<li>
				<img src="{{ site.baseurl }}/assets/img/landings/basic/slider/slider2-09.jpg" alt="...">
				<div class="flex-caption">
					<div class="central-part">
						<span class="icon-tape-recorder"></span>
						<h3>Fast and intelligent</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

</section>
