<section class="land-item land-shop">

	<div class="land-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<div class="land-icon"><span class="icon-bag"></span></div>
					<div class="land-title">Your effective shop</div>
					<div class="land-description">Showcase your work with classy grid, multi-grid, and masonry styles and add the slick alter hover effect.</div>
					<a class="gbtn gbtn-lg" href="#">View Shop</a>

				</div>
			</div>
		</div>
	</div>
	<div class="land-body">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<div class="row">
						<div class="col-sm-6 col-sm-push-6">

							<span class="icon-photo-camera"></span>
							<h5>Effective and presentable grids</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						</div>
						<div class="col-sm-6 col-sm-pull-6">

							<img src="{{ site.baseurl }}/assets/img/landings/basic/shop/shop-01.jpg" alt="...">

						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">

							<span class="icon-bill"></span>
							<h5>Best ad`s for your product</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						</div>
						<div class="col-sm-6">

							<img src="{{ site.baseurl }}/assets/img/landings/basic/shop/shop-02.jpg" alt="...">

						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-push-6">

							<span class="icon-download"></span>
							<h5>UX work fore sale</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						</div>
						<div class="col-sm-6 col-sm-pull-6">

							<img src="{{ site.baseurl }}/assets/img/landings/basic/shop/shop-03.jpg" alt="...">

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</section>
