<section class="land-item land-team">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="top-part">
					<h4>Our Team</h4>
					<p>We love what we do and we do it with passion</p>
				</div>

				<div class="isotope-container">

					<article class="isotope-item">
						<div class="image-contour">
							<img src="{{ site.baseurl }}/assets/img/landings/basic/team/team-01.jpg" alt="...">
							<div class="extra-content">
								<nav class="member-social">
									<a href="#"><span class="icon-skype"></span></a>
									<a href="#"><span class="icon-envelope"></span></a>
									<a href="#"><span class="icon-facebook"></span></a>
									<a href="#"><span class="icon-vk"></span></a>
									<a href="#"><span class="icon-linkedin"></span></a>
									<a href="#"><span class="icon-wordpress"></span></a>
								</nav>
							</div>
						</div>
						<div class="text-content">
							<p class="position">Back-end</p>
							<h4>Stas Stezhenko</h4>
							<p>Mollitia quam, iusto aspernatur praesentium quod facere ad, similique, nobis enim tenetur nemo obcaecati veniam minima asperiores quia? Labore veniam, unde ipsum, ut sapiente illo, tenetur aperiam, iusto molestiae rerum culpa laborum. Iusto officia cum quaerat, provident consequatur. Consequatur asperiores aspernatur, amet dolores, natus est eligendi sequi laboriosam necessitatibus ratione nesciunt.</p>
						</div>
					</article>

					<article class="team-member isotope-item">
						<div class="image-contour">
							<img src="{{ site.baseurl }}/assets/img/landings/basic/team/team-02.jpg" alt="...">
							<div class="extra-content">
								<nav class="member-social">
									<a href="#"><span class="icon-skype"></span></a>
									<a href="#"><span class="icon-envelope"></span></a>
									<a href="#"><span class="icon-facebook"></span></a>
									<a href="#"><span class="icon-linkedin"></span></a>
									<a href="#"><span class="icon-twitter"></span></a>
									<a href="#"><span class="icon-behance"></span></a>
								</nav>
							</div>
						</div>
						<div class="text-content">
							<p class="position">Design</p>
							<h4>Anton Pivniuk</h4>
							<p>Тveniet magni accusamus aliquid ab alias possimus aspernatur inventore qui recusandae ratione ipsam facilis earum quo ea voluptatem aperiam dolores fuga temporibus quam non unde, deleniti aliquam, molestiae, perspiciatis dolore! Laboriosam ratione illo in provident quis quos eos, quia aspernatur beatae labore? Maxime nam, autem aliquam labore accusamus et totam quas vitae enim voluptatibus.</p>
						</div>
					</article>

					<article class="team-member isotope-item">
						<div class="image-contour">
							<img src="{{ site.baseurl }}/assets/img/landings/basic/team/team-03.jpg" alt="...">
							<div class="extra-content">
								<nav class="member-social">
									<a href="#"><span class="icon-vine"></span></a>
									<a href="#"><span class="icon-envelope"></span></a>
									<a href="#"><span class="icon-facebook"></span></a>
									<a href="#"><span class="icon-lastfm"></span></a>
									<a href="#"><span class="icon-github"></span></a>
									<a href="#"><span class="icon-soundcloud"></span></a>
								</nav>
							</div>
						</div>
						<div class="text-content">
							<p class="position">Front-end</p>
							<h4>Ihor Orlovskyi</h4>
							<p>Aspernatur vero saepe laboriosam id sed rem, architecto iure optio excepturi natus repellat placeat laborum earum. Fugiat maiores neque, itaque qui. Architecto ipsa sint dicta inventore repellat. Mollitia quam, iusto aspernatur praesentium quod facere ad, similique, nobis enim tenetur nemo minima asperiores quia? Labore veniam, unde ipsum, ut sapiente illo, tenetur aperiam, iusto molestiae rerum culpa laborum.</p>
						</div>
					</article>

				</div>

			</div>
		</div>
	</div>
</section>
