
<section class="land-item land-clients">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="top-part">
					<h4>Our Clients</h4>
					<p>List of our lovely customers</p>
				</div>

				<div class="gallery js-flickity">
					<div class="gallery-cell">
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-mac.jpg" alt="..."></a></li>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-privatbank.jpg" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-dinamo-kiev.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-western-union.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-mortal-kombat.png" alt="..."></a>
					</div>
					<div class="gallery-cell">
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-skrillex.jpg" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-bogdan.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-fk-dnepr.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-pink-floyd.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-android.png" alt="..."></a>
					</div>
					<div class="gallery-cell">
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-ubuntu.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-oshchadbank.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-world-of-tanks.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-radiohead.png" alt="..."></a>
						<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/basic/clients/clients-olx.png" alt="..."></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
