<section class="land-item land-clients">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">

				<div class="land-header">
					<div class="land-title">Our Clients</div>
				</div>

				<div class="land-body">
					<div class="gallery js-flickity">

						<div class="gallery-cell">
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/mac.jpg" alt="Logo of Mac OS"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/privatbank.jpg" alt="Logo of ПриватБанк"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/dinamo-kiev.png" alt="Logo of Динамо Киев"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/western-union.png" alt="Logo of Western Union"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/mortal-kombat.png" alt="Logo of Mortal Kombat"></a>
						</div>
						<div class="gallery-cell">
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/skrillex.jpg" alt="Logo of Skrillex"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/bogdan.png" alt="Logo of Bogdan"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/fk-dnepr.png" alt="Logo of ФК Днепр"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/pink-floyd.png" alt="Logo of Pink Floyd"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/android.png" alt="Logo of Android"></a>
						</div>
						<div class="gallery-cell">
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/ubuntu.png" alt="Logo of Ubuntu"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/oshchadbank.png" alt="Logo of Ощадбанк"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/world-of-tanks.png" alt="Logo of World of Tanks"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/radiohead.png" alt="Logo of Radiohead"></a>
							<a href="#"><img src="{{site.baseurl}}/assets/img/landings/clients/olx.png" alt="Logo of OLX"></a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</section>
