<section class="land-item land-clients">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">

				<div class="land-header">
					<div class="land-title">Our Clients</div>
				</div>

				<div class="land-body">
					<div class="gallery js-flickity">

						<div class="gallery-cell">
							<a href="http://toplogos.ru/logo-mac/"><img src="http://toplogos.ru/images/thumbs/preview-logo-mac.jpg" alt="Logo of Mac OS"></a>
							<a href="http://toplogos.ru/logo-privatbank/"><img src="http://toplogos.ru/images/thumbs/preview-logo-privatbank.jpg" alt="Logo of ПриватБанк"></a>
							<a href="http://toplogos.ru/logo-dinamo-kiev/"><img src="http://toplogos.ru/images/thumbs/preview-logo-dinamo-kiev.png" alt="Logo of Динамо Киев"></a>
							<a href="http://toplogos.ru/logo-western-union/"><img src="http://toplogos.ru/images/thumbs/preview-logo-western-union.png" alt="Logo of Western Union"></a>
							<a href="http://toplogos.ru/logo-mortal-kombat/"><img src="http://toplogos.ru/images/thumbs/preview-logo-mortal-kombat.png" alt="Logo of Mortal Kombat"></a>
						</div>
						<div class="gallery-cell">
							<a href="http://toplogos.ru/logo-skrillex/"><img src="http://toplogos.ru/images/thumbs/preview-logo-skrillex.jpg" alt="Logo of Skrillex"></a>
							<a href="http://toplogos.ru/logo-bogdan/"><img src="http://toplogos.ru/images/thumbs/preview-logo-bogdan.png" alt="Logo of Bogdan"></a>
							<a href="http://toplogos.ru/logo-fk-dnepr/"><img src="http://toplogos.ru/images/thumbs/preview-logo-fk-dnepr.png" alt="Logo of ФК Днепр"></a>
							<a href="http://toplogos.ru/logo-pink-floyd/"><img src="http://toplogos.ru/images/thumbs/preview-logo-pink-floyd.png" alt="Logo of Pink Floyd"></a>
							<a href="http://toplogos.ru/logo-android/"><img src="http://toplogos.ru/images/thumbs/preview-logo-android.png" alt="Logo of Android"></a>
						</div>
						<div class="gallery-cell">
							<a href="http://toplogos.ru/logo-ubuntu/"><img src="http://toplogos.ru/images/thumbs/preview-logo-ubuntu.png" alt="Logo of Ubuntu"></a>
							<a href="http://toplogos.ru/logo-oshchadbank/"><img src="http://toplogos.ru/images/thumbs/preview-logo-oshchadbank.png" alt="Logo of Ощадбанк"></a>
							<a href="http://toplogos.ru/logo-world-of-tanks/"><img src="http://toplogos.ru/images/thumbs/preview-logo-world-of-tanks.png" alt="Logo of World of Tanks"></a>
							<a href="http://toplogos.ru/logo-radiohead/"><img src="http://toplogos.ru/images/thumbs/preview-logo-radiohead.png" alt="Logo of Radiohead"></a>
							<a href="http://toplogos.ru/logo-olx/"><img src="http://toplogos.ru/images/thumbs/preview-logo-olx.png" alt="Logo of OLX"></a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</section>
