<div class="isotope-container">

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-1.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>This Is The First Awesome Post</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-2.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>And the second one</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-3.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>Cool video post</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-1.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>This Is The First Awesome Post</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-2.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>And the second one</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

	<article class="clearfix">
		<a href="#">
			<div class="geo-media">
				<img src="{{site.baseurl}}/assets/img/blog/item-3.jpg" alt="Post image">
				<div class="geo-media-fxlayout">
					<div class="geo-blog-meta-custom">
						<ul>
							<li><span class="icon-hart"></span> 12</li>
							<li><span class="icon-comment"></span> 135</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="geo-content">
				<div class="geo-blog-meta-custom">
					<ul>
						<li>October 4, 2015</li>
						<li><span class="icon-flag"></span> By Ray Michael</i></li>
					</ul>
				</div>
				<h4>Cool video post</h4>
			</div>
			<div class="geo-post-arrow">
				<span class="icon-way-right"></span>
			</div>
		</a>
	</article>

</div>

{% include global/show-more.html %}

