
<div class="isotope-container">

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">This is the first awesome post <span class="icon-way-right"></span></a></h4>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">And the second one <span class="icon-way-right"></span></a></h4>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Third cool post <span class="icon-way-right"></span></a></h4>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Fourth post is great and so huge, it have many words and stuff<span class="icon-way-right"></span></a></h4>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Amazing fifth post <span class="icon-way-right"></span></a></h4>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="...">
			<div class="vertical-centering">
				<nav class="meta">
					<a href="#"><span class="icon-heart"></span><span class="meta-count">43</span></a>
					<a href="#"><span class="icon-comment"></span><span class="meta-count">3</span></a>
				</nav>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">And this is sixth good post <span class="icon-way-right"></span></a></h4>
		</div>
	</article>

</div>

{% include global/show-more.html %}

