
<div class="isotope-container">

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="...">
			<div class="vertical-centering">
				<a class="gbtn gbtn-sm gbtn-ghost" href="#">Read more</a>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Post Single Image</a></h4>
			<p>The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item quote-item">
		<div class="text-content">
			<blockquote>
				<a href="#"><img src="{{ site.baseurl }}/assets/img/blog/item-quote.jpg" alt="..."></a>
				<q><a href="#">I tried to make a real old man, a real boy, a real sea and a real fish and real sharks. But if I made them good and true enough they would mean many things.</a></q>
				<cite>Ernest Hemingway in 1954</cite>
				<nav class="meta">
					<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
					<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
				</nav>
			</blockquote>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="tp-banner-container">
				<div id="bloglist-slider1" class="tp-banner">
					<ul>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Post With Slider</a></h4>
			<p>The term minimalism is also used to describe a trend in design and necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Text Post</a></h4>
			<p>The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zI5VR6NXkjM" allowfullscreen></iframe>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Video Post</a></h4>
			<p>The term minimalism is also used to describe a  influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179596651&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Video Post</a></h4>
			<p>The term minimalism is also used to describe a  influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="...">
			<div class="vertical-centering">
				<a class="gbtn gbtn-sm gbtn-ghost" href="#">Read more</a>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Post Single Image</a></h4>
			<p>The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item quote-item">
		<div class="text-content">
			<blockquote>
				<a href="#"><img src="{{ site.baseurl }}/assets/img/blog/item-quote.jpg" alt="..."></a>
				<q><a href="#">I tried to make a real old man, a real boy, a real sea and a real fish and real sharks. But if I made them good and true enough they would mean many things.</a></q>
				<cite>Ernest Hemingway in 1954</cite>
				<nav class="meta">
					<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
					<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
				</nav>
			</blockquote>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="tp-banner-container">
				<div id="bloglist-slider2" class="tp-banner">
					<ul>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-3.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-1.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
						<li data-transition="fadetoleftfadefromright" data-slotamount="1" data-masterspeed="1000" >
							<img src="{{ site.baseurl }}/assets/img/blog/item-2.jpg" alt="..." data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Post With Slider</a></h4>
			<p>The term minimalism is also used to describe a trend in design and necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Text Post</a></h4>
			<p>The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zI5VR6NXkjM" allowfullscreen></iframe>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Video Post</a></h4>
			<p>The term minimalism is also used to describe a  influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179596651&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
		<div class="text-content">
			<nav class="meta">
				<time>Febrary 15, 2015</time>
				<a href="#"><span class="meta-count">By</span><span class="icon-flag1"></span> Fernando Hierro</a>
			</nav>
			<h4><a href="#">Video Post</a></h4>
			<p>The term minimalism is also used to describe a  influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			<nav class="meta">
				<a href="#"><span class="meta-count">43</span><span class="icon-heart"></span> Likes</a>
				<a href="#"><span class="meta-count">3</span><span class="icon-comment"></span> Comments</a>
			</nav>
		</div>
	</article>

</div>

{% include global/show-more.html %}
