/*-------------------------------------------------------------------------*/
/* # BLOG LISTS
/*-------------------------------------------------------------------------*/
.bloglist {
	margin-bottom: 60px;

	&.col-2 article.isotope-item {width: 50%;}
	&.col-3 article.isotope-item {width: 33.3333333333333333333%;}
	&.col-4 article.isotope-item {width: 25%;}

	article.isotope-item {
		position: relative;
		float: left;
		@include clearfix;

		.media-contur {
			position: relative;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;

			.vertical-centering {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				@include transition(all 0.25s ease-in-out);
			}

			&:hover {
				.vertical-centering {
					opacity: 1;
				}
			}
		}
	}
}


/**
* quote item at list
* ----------------------------------------------------------------------------
*/
.bloglist {
	article.quote-item {

		.text-content {
			blockquote {
				background: #5596c7;
				padding: 30px 20px 30px;
				color: #fff;
				text-align: center;
				padding-bottom: 30px;

				img {
					max-width: 150px;
					margin: 0 auto 30px;
					border-radius: 100%;
				}

				q {
					display: block;
					font-size: 20px;
					margin-bottom: 30px;
					text-transform: uppercase;
					font-weight: 500;
					quotes: "«" "»";

					&:before {
						content: open-quote;
						padding-right: 0.5em;
					}

					&:after {
						content: close-quote;
						padding-left: 0.5em;
					}

					a {
						color: #fff;
						&:hover {color: #ddd;}
					}
				}

				cite {
					display: block;
					font-size: 14px;
					margin-bottom: 30px;
					text-transform: uppercase;
					font-weight: 500;
					quotes: "—" "";
					padding-bottom: 30px;
					border-bottom: 1px solid rgba($divider,0.2);

					&:before {
						content: open-quote;
						padding-right: 0.5em;
					}
				}

				nav.meta {
					text-align: left;
					a {
						color: #fff;
						&:hover {color: #ddd;}
					}
					time {color: #fff;}

					[class^="icon-"] {
						margin-right: 4px;
						font-size: 16px;
						line-height: 10px;
						position: relative;
						top: 3px;
					}
				}
			}
		}
	}

	&.col-2 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 20px;}
				cite {font-size: 14px;}
			}
		}
	}
	&.col-3 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 17px;}
				cite {font-size: 12px;}
			}
		}
	}
	&.col-4 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 14px;}
				cite {font-size: 10px;}
			}
		}
	}
}


/**
* classic small blog list
* ----------------------------------------------------------------------------
*/
.bloglist-small {
	.isotope-container {
		margin-bottom: 20px;

		article.isotope-item {
			margin-bottom: 40px;
			border-bottom: 1px solid $divider;

			.media-contur {
				width: 40%;
				margin-bottom: 40px;
				float: left;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				width: 60%;
				padding-left: 30px;
				float: right;
				margin-bottom: 40px;

				h3 {margin: 20px 0;}
			}

			&.quote-item {
				.text-content {
					padding-left: 0;
					width: 100%;
				}
			}
		}
	}
}


/**
* classic large blog list
* ----------------------------------------------------------------------------
*/
.bloglist-large {
	.isotope-container {
		margin-bottom: 20px;

		article.isotope-item {
			margin-bottom: 40px;
			border-bottom: 1px solid $divider;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				margin-bottom: 40px;

				h2 {margin: 30px 0;}
			}
		}
	}
}


/**
* masonry blog list
* ----------------------------------------------------------------------------
*/
.bloglist-masonry {
	.isotope-container {
		margin: 0 -15px 20px;

		article.isotope-item {
			padding: 0 15px 40px;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				padding-bottom: 40px;
				border-bottom: 1px solid $divider;

				h4 {margin: 20px 0;}
			}
		}
	}
}


/**
* grid blog list
* ----------------------------------------------------------------------------
*/
.bloglist-grid {
	.isotope-container-grid {
		margin: 0 -15px 20px;

		article.isotope-item {
			position: relative;
			padding: 0 15px 40px;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				padding-bottom: 40px;
				border-bottom: 1px solid $divider;

				h4 {margin: 20px 0;}
			}
		}
	}
}


/**
* custom blog list
* ----------------------------------------------------------------------------
*/
.bloglist-custom {
	.isotope-container {
		margin-bottom: 60px;

		article.isotope-item {
			width: 100%;
			border-bottom: 1px solid $divider;
			@include clearfix;

			.media-contur {
				float: left;
				width: 30%;
				margin: 0;

				.vertical-centering {
					background: rgba(#5596c7, 0.75);

					nav.meta {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
						a {
							color: #fff;
							font-size: 14px;
							&:hover {color: #ddd;}
							.meta-count {margin-right: 0;}
							[class^="icon-"] {
								font-size: 24px;
								position: relative;
								top: 5px;
							}
						}
					}
				}
			}

			.text-content {
				float: left;
				width: 70%;
				margin: 0;
				padding-left: 4%;
				padding-top: 40px;
				@include transition(all 0.75s $ease-out-circ);

				h4 {
					position: relative;
					margin: 0;
					padding-right: 120px;
					[class^="icon-"] {
						font-size: 40px;
						position: absolute;
						top: 50%;
						right: 100px;
						opacity: 0;
						@include transition(all 0.75s $ease-out-circ);
						@include transform(translateY(-50%));
					}
				}
			}

			&:hover {
				.text-content {
					padding-left: 6%;

					h4 {
						[class^="icon-"] {
							right: 0;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}


/*-------------------------------------------------------------------------*/
/* # BLOG ITEM
/*-------------------------------------------------------------------------*/
.blogitem {
	margin-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;

	.blogitem-media {
		margin-bottom: 30px;
	}

	.blogitem-header {
		@include clearfix;
		margin-bottom: 30px;

		nav.meta {
			float: left;
		}

		nav.share {
			float: right;
			span.title {
				margin-right: 20px;
			}
		}
	}

	.blogitem-content {
		p {
			line-height: 1.7;
			a {
				font-weight: 700;
				&:hover {font-weight: 700;}
			}
		}

		ul {
			padding: 0 0 20px 30px;
			li {
				list-style: disc;
				font-weight: 300;
				line-height: 1.7;
			}
		}

		blockquote {
			background: #5596c7;
			padding: 40px 40px 40px;
			color: #fff;
			padding-bottom: 30px;
			margin-bottom: 30px;

			[class^="icon-"] {
				font-size: 40px;
				display: block;
				margin-bottom: 30px;
			}

			q {
				display: block;
				font-size: 20px;
				margin-bottom: 30px;
				text-transform: uppercase;
				font-weight: 500;
				quotes: "«" "»";

				&:before {
					content: open-quote;
					padding-right: 0.5em;
				}

				&:after {
					content: close-quote;
					padding-left: 0.5em;
				}
			}

			cite {
				display: block;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 500;
				quotes: "—" "";

				&:before {
					content: open-quote;
					padding-right: 0.5em;
				}
			}
		}

	}
}

.blogitem-bottom {
	nav.share {
		text-align: center;
		margin-bottom: 60px;
		span.title {
			display: block;
			margin-bottom: 20px;
		}
	}
}


/*-------------------------------------------------------------------------*/
/* # TAGS & CATEGORIES
/*-------------------------------------------------------------------------*/
nav.tags,
nav.categories {
	text-align: center;
	margin-bottom: 20px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	.title {
		color: #9e9e9e;
		margin-right: 10px;
	}
	a {
		margin-right: 10px;
		color: #6a6a6a;
		@include transition(all 0.75s $ease-out-circ);

		&:after {content: ',';}

		&:last-child {
			margin-right: 0;
			&:after {content: '';}
		}
		&:hover {color: #3679ab;}
	}
}

