/*-------------------------------------------------------------------------*/
/* # PORTFOLIO LISTS
/*-------------------------------------------------------------------------*/
.portfoliolist {
	text-align: center;
	margin-bottom: 60px;

	&.col-2 article.isotope-item {width: 50%;}
	&.col-3 article.isotope-item {width: 33.3333333333333333333%;}
	&.col-4 article.isotope-item {width: 25%;}

	.isotope-container {
		margin-bottom: 60px;
		@include transition(all 0.4s ease);

		article.isotope-item {
			position: relative;
			overflow: hidden;

			.media-contur {
				position: relative;
				overflow: hidden;
				text-align: center;
				margin: 0 auto;

				img {
					width: 100%;
					@include transition(all 5.25s $ease-out-circ);
					@include transform(scale(1.0) translateZ(0));
				}
			}
		}
	}

	&.col-2 nav.categories {font-size: 14px;}
	&.col-3 nav.categories {font-size: 12px;}
	&.col-4 nav.categories {font-size: 10px;}
}


/**
* portfolio filter
* ----------------------------------------------------------------------------
*/
.portfoliofilter {
	margin-bottom: 60px;

	a {
		display: inline-block;
		margin: 0 25px;
		text-transform: uppercase;
		font-weight: 500;
		color: #7c7c7c;
		cursor: pointer;
		font-size: 14px;

		&:hover,
		&.is-checked {color: #5596c7;}
	}
}


/**
* classic portfolio list
* ----------------------------------------------------------------------------
*/
.portfoliolist-classic {
	.isotope-container {
		article.isotope-item {

			.text-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background: rgba(#4489C4, 0.7);
				@include transition(all 0.25s ease-in-out);

				.vertical-centering {
					position: absolute;
					top: 75%;
					left: 0;
					width: 100%;
					@include transform(translateY(-50%));
					@include transition(all 0.25s ease-in-out);

					.gbtn {margin-bottom: 30px;}
					nav.categories {
						margin-bottom: 4px;
						a {color: #b9d5eb;}
					}
					h3,
					h4,
					h5 {
						color: #fff;
						margin-bottom: 0;
					}
				}
			}

			&:hover {
				.media-contur {
					img {
						@include transform(scale(1.2));
					}
				}
				.text-content {
					opacity: 1;
					.vertical-centering {top: 50%;}
				}
			}
		}
	}
}


/**
* mansory portfolio list
* ----------------------------------------------------------------------------
*/
.portfoliolist-mansory {
	.isotope-container {
		article.isotope-item {

			.text-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background: rgba(#fff,.85);
				@include transition(all 0.25s ease-in-out);

				.vertical-centering-1 {
					position: absolute;
					top: 60%;
					left: 0;
					width: 100%;
					@include transform(translateY(-50%));
					@include transition(all 0.25s ease-in-out);

					.gbtn {margin-bottom: 30px;}
				}

				.vertical-centering-2 {
					position: absolute;
					bottom: 30%;
					left: 0;
					width: 100%;
					@include transform(translateY(-50%));
					@include transition(all 0.25s ease-in-out);

					nav.categories {
						margin-bottom: 4px;
						a {color: #979797;}
					}
					h3,
					h4,
					h5 {
						color: #4385b8;
						margin-bottom: 0;
					}
				}
			}

			&:hover {
				.media-contur {
					img {
						@include transform(scale(1.2));
					}
				}
				.text-content {
					opacity: 1;
					.vertical-centering-1 {
						top: 50%;
					}
					.vertical-centering-2 {
						bottom: 10%;
					}
				}
			}
		}
	}
}


/**
* grid portfolio list
* ----------------------------------------------------------------------------
*/
.portfoliolist-grid {
	.isotope-container {
		article.isotope-item {
			width: 33.3333333333333%;
			&:nth-child(2),
			&:nth-child(6),
			&:nth-child(9) {width: 66.6666666666666%;}

			.text-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background: rgba(#4489C4, 0.7);
				@include transition(all 0.25s ease-in-out);

				.vertical-centering {
					position: absolute;
					top: 75%;
					left: 0;
					width: 100%;
					@include transform(translateY(-50%));
					@include transition(all 0.25s ease-in-out);

					.gbtn {margin-bottom: 30px;}
					nav.categories {
						font-size: 12px;
						margin-bottom: 4px;
						a {color: #b9d5eb;}
					}
					h3,
					h4 {
						color: #fff;
						margin-bottom: 0;
					}
				}
			}

			&:hover {
				.media-contur {
					img {
						@include transform(scale(1.2));
					}
				}
				.text-content {
					opacity: 1;
					.vertical-centering {top: 50%;}
				}
			}
		}
	}
}


/**
* custom portfolio list
* ----------------------------------------------------------------------------
*/
.portfoliolist-custom {
	.isotope-container {
		article.isotope-item {
			width: 100%;

			.media-contur {
				width: 50%;
				float: left;
				padding: 12.5%;
			}

			.text-content {
				width: 50%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;

				.vertical-centering {
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					@include transform(translateY(-50%));

					nav.categories {
						font-size: 14px;
						margin-bottom: 4px;
						a {}
					}
					h3,
					h4 {margin-bottom: 60px;}
					.gbtn {}
				}
			}

			&:nth-child(2n) {
				.media-contur {float: right;}
				.text-content {left: 0;}
			}

			&:nth-child(3n+1) {
				background: #4385b8;
				.text-content {
					background: #5596c7;
					a.gbtn {
						color: #fff;
						background: #4385b8;
						border-color: #4385b8;
					}
					nav.categories a {
						color: #95c6eb;
						&:hover {color: #95c6eb;}
					}
					h3,
					h4 {color: #fff;}
				}
			}
			
			&:nth-child(3n+2) {
				background: #fff;
				.text-content {
					background: #f1f1f1;
					.gbtn {
						color: #4d8abb;
						background: #fff;
						border-color: #fff;
					}
					nav.categories a {
						color: #898989;
						&:hover {color: #898989;}
					}
					h3,
					h4 {color: #4385b8;}
				}
			}

			&:nth-child(3n+3) {
				background: #343434;
				.text-content {
					background: #3d3d3d;
					a.gbtn {
						color: #fff;
						background: #343434;
						border-color: #343434;
					}
					nav.categories a {
						color: #898989;
						&:hover {color: #898989;}
					}
					h3,
					h4 {color: #fff;}
				}
			}
		}
	}
}


/*-------------------------------------------------------------------------*/
/* # PORTFOLIO ITEM
/*-------------------------------------------------------------------------*/
.portfolioitem {
	margin-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;

	.blogitem-media {
		margin-bottom: 0;

		img {
			margin-bottom: 30px;
			&:last-child {margin-bottom: 0;}
		}
	}

	.portfolioitem-status {
		font-size: 15px;
		color: #6a6a6a;
		line-height: 1.3;
		font-weight: 300;
		margin-bottom: 30px;
		b {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	h5 {
		color: #6a6a6a;
		font-weight: 500;
		font-size: 15px;
	}

	nav.share {
		margin-top: 60px;
		span.title {
			margin-right: 20px;
		}
	}
}


