/*-------------------------------------------------------------------------*/
/* # BLOG LISTS
/*-------------------------------------------------------------------------*/
.bloglist {
	margin-bottom: 60px;

	&.col-2 article {width: 50%;}
	&.col-3 article {width: 33.3333333333333333333%;}
	&.col-4 article {width: 25%;}

	article {
		position: relative;
		float: left;
		@include clearfix;

		.media-contur {
			position: relative;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;

			>img {
				@include transition(all 5.25s $ease-out-circ);
				@include transform(scale(1.0) translateZ(0));
			}

			.vertical-centering {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				@include transition(all 0.75s $ease-out-circ);
				@include transform(translateY(100%));
			}

			&:hover {
				>img {
					@include transform(scale(1.25));
				}
				.vertical-centering {
					@include transform(translateY(0));
				}
			}
		}

		.text-content {
		}
	}
}


/**
* quote item
* ----------------------------------------------------------------------------
*/
.bloglist {
	article.quote-item {

		.text-content {
			blockquote {
				background: #5596c7;
				padding: 30px 20px 30px;
				color: #fff;
				text-align: center;
				padding-bottom: 30px;

				img {
					max-width: 150px;
					margin: 0 auto 30px;
					border-radius: 100%;
				}

				q {
					display: block;
					font-size: 20px;
					margin-bottom: 30px;
					text-transform: uppercase;
					font-weight: 500;
					quotes: "«" "»";

					&:before {
						content: open-quote;
						padding-right: 0.5em;
					}

					&:after {
						content: close-quote;
						padding-left: 0.5em;
					}

					a {
						color: #fff;
						&:hover {color: #ddd;}
					}
				}

				cite {
					display: block;
					font-size: 14px;
					margin-bottom: 30px;
					text-transform: uppercase;
					font-weight: 500;
					quotes: "—" "";
					padding-bottom: 30px;
					border-bottom: 1px solid rgba($divider,0.2);

					&:before {
						content: open-quote;
						padding-right: 0.5em;
					}
				}

				nav.meta {
					text-align: left;
					a {
						color: #fff;
						&:hover {color: #ddd;}
					}
					time {color: #fff;}

					[class^="icon-"] {
						margin-right: 4px;
						font-size: 16px;
						line-height: 10px;
						position: relative;
						top: 3px;
					}
				}
			}
		}
	}

	&.col-2 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 20px;}
				cite {font-size: 14px;}
			}
		}
	}
	&.col-3 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 17px;}
				cite {font-size: 12px;}
			}
		}
	}
	&.col-4 article.quote-item {
		.text-content {
			blockquote {
				q {font-size: 14px;}
				cite {font-size: 10px;}
			}
		}
	}
}


/**
* blogitem meta
* ----------------------------------------------------------------------------
*/
nav.meta {
	a {
		text-transform: uppercase;
		display: inline-block;
		font-size: 10px;
		font-weight: 700;
		color: #6a6a6a;
		margin-right: 20px;
		&:last-child {margin-right: 0;}
		.meta-count {margin-right: 6px;}
		[class^="icon-"] {
			margin-right: 4px;
			font-size: 16px;
			line-height: 10px;
			position: relative;
			top: 3px;
		}
		&:hover {color: #3679ab;}
	}
	time {
		color: #9e9e9e;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 10px;
		margin-right: 20px;
		&:last-child {margin-right: 0;}
	}
}


/**
* Classic Small Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-small {
	.isotope-container {
		margin-bottom: 20px;

		article {
			margin-bottom: 40px;
			border-bottom: 1px solid $divider;

			.media-contur {
				width: 45%;
				padding-right: 30px;
				margin-bottom: 40px;
				float: left;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				width: 55%;
				float: right;
				margin-bottom: 40px;

				h3 {margin: 20px 0;}
			}

			&.quote-item {
				.text-content {
					width: 100%;
				}
			}
		}
	}
}


/**
* Classic Large Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-large {
	.isotope-container {
		margin-bottom: 20px;

		article {
			margin-bottom: 40px;
			border-bottom: 1px solid $divider;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				margin-bottom: 40px;

				h2 {margin: 30px 0;}
			}
		}
	}
}


/**
* Masonry Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-masonry {
	.isotope-container {
		margin: 0 -15px 20px;

		article {
			padding: 0 15px 40px;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				padding-bottom: 40px;
				border-bottom: 1px solid $divider;

				h4 {margin: 20px 0;}
			}
		}
	}
}


/**
* Grid Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-grid {
	.isotope-container-grid {
		margin: 0 -15px 20px;

		article {
			position: relative;
			padding: 0 15px 40px;

			.media-contur {
				margin-bottom: 20px;

				.vertical-centering {
					background: rgba(#fff, 0.75);

					.gbtn {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}
			}

			.text-content {
				padding-bottom: 40px;
				border-bottom: 1px solid $divider;

				h4 {margin: 20px 0;}
			}
		}
	}
}


/**
* Custom Blog
* ----------------------------------------------------------------------------
*/
.bloglist-custom {
	.isotope-container {
		margin-bottom: 60px;

		article {
			width: 100%;
			border-bottom: 1px solid $divider;
			@include clearfix;

			.media-contur {
				float: left;
				width: 30%;
				margin: 0;

				.vertical-centering {
					background: rgba(#5596c7, 0.75);

					nav.meta {
						position: absolute;
						top: 50%;
						left: 50%;
						@include transform(translate(-50%,-50%));
						a {
							color: #fff;
							font-size: 14px;
							&:hover {color: #ddd;}
							.meta-count {margin-right: 0;}
							[class^="icon-"] {
								font-size: 24px;
								position: relative;
								top: 5px;
							}
						}
					}
				}
			}

			.text-content {
				float: left;
				width: 70%;
				margin: 0;
				padding-left: 4%;
				padding-top: 40px;
				@include transition(all 0.75s $ease-out-circ);

				h4 {
					position: relative;
					margin: 0;
					padding-right: 120px;
					[class^="icon-"] {
						font-size: 40px;
						position: absolute;
						top: 50%;
						right: 100px;
						opacity: 0;
						@include transition(all 0.75s $ease-out-circ);
						@include transform(translateY(-50%));
					}
				}
			}

			&:hover {
				.text-content {
					padding-left: 6%;

					h4 {
						[class^="icon-"] {
							right: 0;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}


/**
* bloglist media
* ----------------------------------------------------------------------------
*/
.geo-media {
	margin: 0 0 30px;
	overflow: hidden;
	position: relative;
	width: 100%;

	.geo-media-fxlayout {
		position: absolute;
		top: -1px;
		left: -1px;
		bottom: -1px;
		right: -1px;
	}

	&.geo-media-single a .geo-media-fxlayout>span {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;

		>i {
			display: table-cell;
			vertical-align: middle;
			text-transform: uppercase;
			font-weight: 700;
			color: #4385b8;
			background: rgba(255, 255, 255, 0.8);
			opacity: 0;
			padding-top: 100px;
			@include transition(all 0.75s $ease-out-circ);
		}
	}

	&.geo-media-single a:hover .geo-media-fxlayout>span>i {
		opacity: 1;
		padding-top: 0;
	}

	&.geo-media-slider .geo-media-fxlayout {
		>a {
			position: absolute;
			top: 50%;
			width: 60px;
			font-size: 30px;
			line-height: 2;
			text-align: center;
			color: #4385b8;
			background: rgba(#fff, 0.8);
			@include transition(all 0.75s $ease-out-circ);
			
			[class^="icon-"] {
				position: relative;
				top: 2px;
			}
			&:first-child {
				left: 0;
				@include transform(translateX(-100%) translateY(-50%));
			}
			&:last-child {
				right: 0;
				@include transform(translateX(100%) translateY(-50%));
			}
		}
		&:hover>a:first-child {
			@include transform(translateX(0) translateY(-50%));
		}
		&:hover>a:last-child {
			@include transform(translateX(0) translateY(-50%));
		}
	}
}

.col-2 .geo-media-slider .geo-media-fxlayout>a {
	width: 60px;
	font-size: 30px;
}
.col-3 .geo-media-slider .geo-media-fxlayout>a,
.col-4 .geo-media-slider .geo-media-fxlayout>a {
	width: 40px;
	font-size: 20px;
}


/**
* bloglist meta
* ----------------------------------------------------------------------------
*/
.geo-blog-meta-top {
	ul {margin:0;list-style:none;}
	ul li {display:inline-block;margin-left:15px;}
	ul li:first-child,
	ul li a {display:inline-block;font-size:10px;font-weight:700;text-transform:uppercase;}
	ul li:first-child {color:#9e9e9e;margin-left:0;}
	ul li a {color:#6a6a6a;}
	ul li a:hover {color:#3679ab;}
	ul li a span {margin:0 5px;font-size:12px;position:relative;top:1px;}
}

.geo-blog-meta-bottom {
	ul {margin:0;list-style:none;}
	ul li {display:inline-block;margin-left:15px;}
	ul li:first-child,
	ul li a {display:inline-block;font-size:10px;font-weight:700;text-transform:uppercase;}
	ul li:first-child {margin-left:0;}
	ul li a {color:#6a6a6a;}
	ul li a:hover {color:#3679ab;}
	ul li a span {margin:0 5px;font-size:12px;position:relative;top:1px;}
	ul li:first-child a span {}
}

article.item-quote {
	.geo-blog-meta-top {
		ul {
			li:first-child {color:#fff;}
			li a {color:#fff;}
			li a:hover {color:#ddd;}
		}
	}
	.geo-blog-meta-bottom {
		ul {
			li:first-child {color:#fff;}
			li a {color:#fff;}
			li a:hover {color:#ddd;}
		}
	}
}


/*-------------------------------------------------------------------------*/
/* # BLOG ITEM
/*-------------------------------------------------------------------------*/
.blogitem {
	margin-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;

	.blogitem-header {
		@include clearfix;
		margin-bottom: 30px;

		nav.meta {
			float: left;
		}

		nav.share {
			float: right;
			span.title {
				margin-right: 20px;
			}
		}
	}

	.blogitem-content {
		p {
			line-height: 1.7;
			a {
				font-weight: 700;
				&:hover {font-weight: 700;}
			}
		}

		ul {
			padding: 0 0 20px 30px;
			li {
				list-style: disc;
				font-weight: 300;
				line-height: 1.7;
			}
		}

		blockquote {
			background: #397db1;
			padding: 70px 40px 40px;
			margin-bottom: 50px;

			p {
				color: #fff;
				font-weight: 300;
				font-size: 20px;
				line-height: 1.4;

				&.geo-quote-autor {
					font-size: 13px;
					font-weight: 700;
					padding-top: 15px;
					position: relative;
					margin-bottom: 0;

					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 50px;
						height: 5px;
						background: #fff;
					}
				}
			}
		}
	}
}

.blogitem-bottom {
	nav.share {
		text-align: center;
		margin-bottom: 60px;
		span.title {
			display: block;
			margin-bottom: 20px;
		}
	}
	nav.tags,
	nav.categories {
		text-align: center;
		margin-bottom: 20px;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		.title {
			color: #9e9e9e;
			margin-right: 10px;
		}
		a {
			margin-right: 10px;
			color: #6a6a6a;
			@include transition(all 0.75s $ease-out-circ);
			&:last-child {margin-right: 0;}
			&:hover {color: #3679ab;}
		}
	}
}


/**
* blogitem share
* ----------------------------------------------------------------------------
*/
nav.share {
	font-size: 10px;
	color: #9e9e9e;
	font-weight: 700;
	span.title {
		text-transform: uppercase;
	}
	a {
		display: inline-block;
		color: #c5c5c5;
		margin-right: 20px;
		&:last-child {margin-right: 0;}
		@include transition(all 0.75s $ease-out-circ);
		[class^="icon-"] {
			color: #e2e2e2;
			font-size: 20px;
			line-height: 10px;
			position: relative;
			top: 5px;
			@include transition(all 0.75s $ease-out-circ);
		}
		.share-count {
			margin-left: 4px;
		}
		&:hover {
			color: #3679ab;
			[class^="icon-"] {color: #3679ab;}
		}
	}
}


/**
* blogitem meta
* ----------------------------------------------------------------------------
*/
.geo-post-meta {
	margin-bottom: 40px;
}
.geo-post-meta ul {
	margin: 0;
	list-style: none;
}
.geo-post-meta ul li {
	display: inline-block;
	margin-left: 15px;
}
.geo-post-meta ul li:first-child,
.geo-post-meta ul li a {
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.geo-post-meta ul li:first-child {margin-left: 0;}
.geo-post-meta ul li a {color: #6a6a6a;}
.geo-post-meta ul li a:hover {color: #3679ab;}
.geo-post-meta ul li a span {
	margin: 0 5px;
	font-size: 12px;
	position: relative;
	top: 1px;
}

.geo-post-meta-date {
	color: #9e9e9e;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
}

.geo-tags {
	text-align: center;
	margin-bottom: 0;
}
.geo-categories {
	text-align: center;
}


/**
* blogitem share
* ----------------------------------------------------------------------------
*/
.geo-recomended {
	margin-bottom: 20px;
	ul {
		margin: 0;
		list-style: none;
	}
	ul li {
		display: inline-block;
		margin-left: 5px;
	}
	ul li:first-child,
	ul li a {
		display: inline-block;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
	}
	ul li:first-child {
		color: #9e9e9e;
		margin-left: 0;
	}
	ul li a {
		color: #e2e2e2;
	}
	ul li a:hover {
		color: #3679ab;
	}
	ul li a [class^="icon-"] {
		margin-left: 7px;
		font-size: 20px;
		position: relative;
		top: 3px;
	}
}

.geo-share-count {
	color: #c5c5c5;
}
.geo-recomended ul li a:hover .geo-share-count {
	color: #3679ab;
}

.geo-recomended-top {
	float:right;
}

.geo-recomended-bottom {
	text-align: center;
	margin: 0 0 40px;

	ul li:first-child {
		display: block;
	}
	ul li:nth-child(2) {
		margin: 0;
	}
	ul li:nth-child(2) a [class^="icon-"] {
		margin: 0;
	}
	ul li a [class^="icon-"] {
		margin-left: 20px;
		font-size: 24px;
		top: 5px;
	}
}


/**
* blogitem navigation
* ----------------------------------------------------------------------------
*/
.geo-post-gloabal-meta-box {
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;
}

.geo-posts-nav {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	position: relative;
	text-align: center;

	a {
		display: block;
		@include transition(all 0.15s ease-in-out);

		>div {
			position: relative;
			padding: 20px 20px 30px;
			background: #397db1;
			position: relative;
			z-index: 2;
			min-height: 150px;
			width: 300px;

			>h5 {
				color: #fff;
				margin-bottom: 10px;
				line-height: 1.2;
				font-size: 16px;
				font-weight: 300;
				text-transform: none;
			}

			>h6 {
				color: #fff;
				border-top: 1px solid #fff;
				margin-bottom: 0;
				font-weight: 700;
				padding-top: 10px;
				display: inline-block;
				font-size: 12px;
			}

			>div {
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 0;
				position: absolute;
				bottom: 10px;
				opacity: 0.5;
				font-weight: 700;
				font-size: 10px;
			}
		}

		>img {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			width: auto;
			@include transition(all 0.15s ease-in-out);
		}

		&.geo-post-prev {
			float: left;
			position: relative;
			text-align: right;
			left: -40px;
			>div {
				padding-left: 90px;
				>div {
					left: 60px;
					>span {
						margin-right: 10px;
						font-size: 0.8em;
					}
				}
			}
			>img {
				left: 0;
			}
			&:hover {
				left: 0;
				img {
					left: 100%;
				}
			}
		}

		&.geo-post-next {
			float: right;
			position: relative;
			text-align: left;
			right: -40px;
			>div {
				padding-right: 90px;
				>div {
					right: 60px;
					>span {
						margin-left: 10px;
						font-size: 0.8em;
					}
				}
			}
			>img {
				right: 0;
			}
			&:hover {
				right: 0;
				img {
					right: 100%;
				}
			}
		}
	}
}


/**
* blogitem navigation
* ----------------------------------------------------------------------------
*/
.post-navigation {
	position: relative;

	a {
		display: block;
		position: absolute;
		top: 0;
		@include transition(all 0.5s $ease-out-circ);

		>div {
			position: relative;
			padding: 20px 20px 30px;
			background: #397db1;
			position: relative;
			z-index: 2;
			min-height: 150px;
			width: 300px;

			>h5 {
				color: #fff;
				margin-bottom: 10px;
				line-height: 1.2;
				font-size: 16px;
				font-weight: 300;
				text-transform: none;
			}

			>h6 {
				color: #fff;
				border-top: 1px solid #fff;
				margin-bottom: 0;
				font-weight: 700;
				padding-top: 10px;
				display: inline-block;
				font-size: 12px;
			}

			>div {
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 0;
				position: absolute;
				bottom: 10px;
				opacity: 0.5;
				font-weight: 700;
				font-size: 10px;
			}
		}

		>img {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			width: auto;
			@include transition(all 0.5s $ease-out-circ);
		}

		&.geo-post-prev {
			text-align: right;
			left: -40px;
			>div {
				padding-left: 90px;
				>div {
					left: 60px;
					>span {
						margin-right: 10px;
						font-size: 0.8em;
					}
				}
			}
			>img {left: 0;}
			&:hover {
				left: 0;
				img {left: 100%;}
			}
		}

		&.geo-post-next {
			text-align: left;
			right: -40px;
			>div {
				padding-right: 90px;
				>div {
					right: 60px;
					>span {
						margin-left: 10px;
						font-size: 0.8em;
					}
				}
			}
			>img {right: 0;}
			&:hover {
				right: 0;
				img {right: 100%;}
			}
		}
	}
}

