/*-------------------------------------------------------------------------*/
/* # BLOG LISTS
/*-------------------------------------------------------------------------*/
.bloglist {
	margin-bottom: 60px;

	&.col-2 article {width: 50%;}
	&.col-3 article {width: 33.3333333333333333333%;}
	&.col-4 article {width: 25%;}

	.isotope-container {
		margin-bottom: 60px;

		article {
			position: relative;
			float: left;
			@include clearfix;

			.geo-media {}
			.geo-content {}

			.geo-content .geo-blog-meta-top {}
			.geo-content h4 {color:#4385b8;margin-bottom:20px;}
			.geo-content p {margin-bottom:20px;}
			.geo-content .geo-blog-meta-bottom {margin-bottom:0;}
		}
	}
}


/**
* Item Quote
* ----------------------------------------------------------------------------
*/
.bloglist article.item-quote {

	.geo-content {
		background-color: #5596c7;
		position: relative;
		padding: 40px 30px 20px;

		a.quote-link {
			position: relative;
			padding-left: 50px;
			text-align: center;
			display: inline-block;

			span.icon-quote {
				position: absolute;
				top: 8px;
				left: 0;
				color: #fff;
				font-size: 40px;
				font-weight: 400;
			}
		}

		p {
			color: #fff;
			line-height: 1.4;
			font-weight: 400;
			margin-bottom: 40px;

			&.p-quote {
				font-size: 20px;

				&:before {
					content: '«';
					padding-right: 10px;
				} 

				&:after {
					content: '»';
					padding-left: 10px;
				}
			}

			&.quote-autor {
				font-size: 14px;
			}
		}
	}
}


/**
* Classic Small Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-small {

	article {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid $divider;

		.geo-media {
			width: 40%;
			float: left;
		}

		.geo-content {
			width: 60%;
			float: right;
			padding-left: 50px;
		}

		&.item-quote .geo-content {
			width: 100%;
		}
	}
}


/**
* Classic Large Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-large {
	article {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $divider;
	}
}


/**
* Masonry Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-masonry {
	article {
		padding: 20px 20px 40px;
	}
	article .geo-blog-meta-bottom {
		margin-bottom: 0;
		padding-bottom: 20px;
		border-bottom: 1px solid $divider;
	}
	article.item-quote .geo-blog-meta-bottom {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	&.col-2 article {
		&.item-quote .geo-content {
			padding: 40px 30px 20px;
			p.p-quote {
				font-size: 20px;
			}
		}
	}
	&.col-3 article {
		&.item-quote .geo-content {
			padding: 35px 25px 20px;
			p.p-quote {
				font-size: 18px;
			}
		}
	}
	&.col-4 article {
		&.item-quote .geo-content {
			padding: 30px 20px 20px;
			p.p-quote {
				font-size: 14px;
			}
		}
	}
}


/**
* Grid Blog List
* ----------------------------------------------------------------------------
*/
.bloglist-grid {
	article {
		position: relative;
		padding: 10px 10px 30px;
		margin-bottom: 20px;
		&:after {
			content: '';
			position: absolute;
			left: 10px;
			bottom: 0;
			right: 10px;
			border-bottom: 1px solid $divider;
		}
	}
}


/**
* Custom Blog
* ----------------------------------------------------------------------------
*/
.bloglist-custom {
	padding-bottom: 0;
	border-bottom: none;

	article {
		border-bottom: 1px solid $divider;
		width: 100%;
		a {
			padding-right: 120px;
			display: block;
			.geo-media {float:left;width:25%;margin:0;}
			.geo-media .geo-media-fxlayout {opacity:0;background-color:#5596c7;color:#fff;text-align:center;}
			.geo-media .geo-media-fxlayout .geo-blog-meta-custom {display:table;width:100%;height:100%;}
			.geo-media .geo-media-fxlayout .geo-blog-meta-custom ul {display:table-cell;vertical-align:middle;}
			.geo-media .geo-media-fxlayout .geo-blog-meta-custom ul li {}
			.geo-media .geo-media-fxlayout .geo-blog-meta-custom ul li span {font-size:24px;position:relative;top:4px;}
			.geo-content {float:left;width:75%;padding-left:30px;}
			.geo-content .geo-blog-meta-custom {margin-top:30px;color:#9e9e9e;font-size:10px;text-transform:uppercase;font-weight:700;}
			.geo-content h4 {margin-bottom:0;}
			.geo-post-arrow {position:absolute;top:50%;margin-top:-20px;font-size:40px;right:100px;opacity:0;}
		}
		&:last-child {margin-bottom:40px;}
	}
}

.bloglist-custom.geo-blog-custom-sidebar article a {padding-right:80px;}
.bloglist-custom.geo-blog-custom-sidebar article a .geo-media {width:30%;}
.bloglist-custom.geo-blog-custom-sidebar article a .geo-content {width:70%;}
.bloglist-custom.geo-blog-custom-sidebar article a .geo-content .geo-blog-meta-custom {
	margin-top: 15px;
}

.geo-blog-meta-custom {}
.geo-blog-meta-custom ul {
	margin: 0;
	list-style: none;
}
.geo-blog-meta-custom ul li {
	display: inline-block;
	margin-left: 15px;
}
.geo-blog-meta-custom ul li:first-child {
	margin-left: 0;
}

.geo-blog-custom article a .geo-media .geo-media-fxlayout,
.geo-blog-custom article a .geo-content,
.geo-blog-custom article a .geo-post-arrow {
	@include transition(all 0.25s ease-in-out);
}
.geo-blog-custom article a:hover .geo-media .geo-media-fxlayout {
	opacity: 1;
}
.geo-blog-custom article a:hover .geo-content {
	padding-left: 60px;
	padding-left: 6%;
}
.geo-blog-custom article a:hover .geo-post-arrow {
	right: 20px;
	opacity: 1;
	color: #4385b8;
}




















/* geo-media
============================================================================ */
.geo-media {
	margin: 0 0 30px;
	overflow: hidden;
	position: relative;
	width: 100%;

	.geo-media-fxlayout {
		position: absolute;
		top: -1px;
		left: -1px;
		bottom: -1px;
		right: -1px;
	}

	&.geo-media-single a .geo-media-fxlayout>span {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;

		>i {
			display: table-cell;
			vertical-align: middle;
			text-transform: uppercase;
			font-weight: 700;
			color: #4385b8;
			background: rgba(255, 255, 255, 0.8);
			opacity: 0;
			padding-top: 100px;
			@include transition(all 0.75s $ease-out-circ);
		}
	}

	&.geo-media-single a:hover .geo-media-fxlayout>span>i {
		opacity: 1;
		padding-top: 0;
	}

	&.geo-media-slider .geo-media-fxlayout {
		>a {
			position: absolute;
			top: 50%;
			width: 60px;
			font-size: 30px;
			line-height: 2;
			text-align: center;
			color: #4385b8;
			background: rgba(255,255,255,0.8);
			@include transition(all 0.75s $ease-out-circ);
			
			[class^="icon-"] {
				position: relative;
				top: 2px;
			}
			&:first-child {
				left: 0;
				@include transform(translateX(-100%) translateY(-50%));
			}
			&:last-child {
				right: 0;
				@include transform(translateX(100%) translateY(-50%));
			}
		}
		&:hover>a:first-child {
			@include transform(translateX(0) translateY(-50%));
		}
		&:hover>a:last-child {
			@include transform(translateX(0) translateY(-50%));
		}
	}
}

.col-2 .geo-media-slider .geo-media-fxlayout>a {
	width: 60px;
	font-size: 30px;
}
.col-3 .geo-media-slider .geo-media-fxlayout>a,
.col-4 .geo-media-slider .geo-media-fxlayout>a {
	width: 40px;
	font-size: 20px;
}




/* geo-content
============================================================================ */
.geo-content {}




/* geo-meta tags
============================================================================ */
.geo-blog-meta-top {
	ul {margin:0;list-style:none;}
	ul li {display:inline-block;margin-left:15px;}
	ul li:first-child,
	ul li a {display:inline-block;font-size:10px;font-weight:700;text-transform:uppercase;}
	ul li:first-child {color:#9e9e9e;margin-left:0;}
	ul li a {color:#6a6a6a;}
	ul li a:hover {color:#3679ab;}
	ul li a span {margin:0 5px;font-size:12px;position:relative;top:1px;}
}

.geo-blog-meta-bottom {
	ul {margin:0;list-style:none;}
	ul li {display:inline-block;margin-left:15px;}
	ul li:first-child,
	ul li a {display:inline-block;font-size:10px;font-weight:700;text-transform:uppercase;}
	ul li:first-child {margin-left:0;}
	ul li a {color:#6a6a6a;}
	ul li a:hover {color:#3679ab;}
	ul li a span {margin:0 5px;font-size:12px;position:relative;top:1px;}
	ul li:first-child a span {}
}

article.item-quote {
	.geo-blog-meta-top {
		ul {
			li:first-child {color:#fff;}
			li a {color:#fff;}
			li a:hover {color:#ddd;}
		}
	}
	.geo-blog-meta-bottom {
		ul {
			li:first-child {color:#fff;}
			li a {color:#fff;}
			li a:hover {color:#ddd;}
		}
	}
}







/*-------------------------------------------------------------------------*/
/* # BLOG ITEM
/*-------------------------------------------------------------------------*/
.blogitem {
	margin-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;

	blockquote {
		background: #397db1;
		padding: 70px 40px 40px;
		margin-bottom: 50px;

		p {
			color: #fff;
			font-weight: 300;
			font-size: 20px;
			line-height: 1.4;

			&.geo-quote-autor {
				font-size: 13px;
				font-weight: 700;
				padding-top: 15px;
				position: relative;
				margin-bottom: 0;

				&:before {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 50px;
					height: 5px;
					background: #fff;
				}
			}
		}
	}

	.geo-media {}

	p a {
		font-weight: 700;
		&:hover {
			font-weight: 700;
		}
	}
}


/**
* blogitem meta
* ----------------------------------------------------------------------------
*/
.geo-post-meta {
	margin-bottom: 40px;
}
.geo-post-meta ul {
	margin: 0;
	list-style: none;
}
.geo-post-meta ul li {
	display: inline-block;
	margin-left: 15px;
}
.geo-post-meta ul li:first-child,
.geo-post-meta ul li a {
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.geo-post-meta ul li:first-child {margin-left: 0;}
.geo-post-meta ul li a {color: #6a6a6a;}
.geo-post-meta ul li a:hover {color: #3679ab;}
.geo-post-meta ul li a span {
	margin: 0 5px;
	font-size: 12px;
	position: relative;
	top: 1px;
}

.geo-post-meta-date {
	color: #9e9e9e;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
}

.geo-tags {
	text-align: center;
	margin-bottom: 0;
}
.geo-categories {
	text-align: center;
}


/**
* blogitem share
* ----------------------------------------------------------------------------
*/
.geo-recomended {
	margin-bottom: 20px;
	ul {
		margin: 0;
		list-style: none;
	}
	ul li {
		display: inline-block;
		margin-left: 5px;
	}
	ul li:first-child,
	ul li a {
		display: inline-block;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
	}
	ul li:first-child {
		color: #9e9e9e;
		margin-left: 0;
	}
	ul li a {
		color: #e2e2e2;
	}
	ul li a:hover {
		color: #3679ab;
	}
	ul li a [class^="icon-"] {
		margin-left: 7px;
		font-size: 20px;
		position: relative;
		top: 3px;
	}
}

.geo-share-count {
	color: #c5c5c5;
}
.geo-recomended ul li a:hover .geo-share-count {
	color: #3679ab;
}

.geo-recomended-top {
	float:right;
}

.geo-recomended-bottom {
	text-align: center;
	margin: 0 0 40px;

	ul li:first-child {
		display: block;
	}
	ul li:nth-child(2) {
		margin: 0;
	}
	ul li:nth-child(2) a [class^="icon-"] {
		margin: 0;
	}
	ul li a [class^="icon-"] {
		margin-left: 20px;
		font-size: 24px;
		top: 5px;
	}
}


/**
* blogitem navigation
* ----------------------------------------------------------------------------
*/
.geo-post-gloabal-meta-box {
	padding-bottom: 60px;
	border-bottom: 1px solid $divider;
	margin-bottom: 60px;

	.col-sm-4 {
		padding: 0;
	}
}

.geo-posts-nav {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	text-align: center;
	overflow: hidden;

	a {
		display: block;
		@include transition(all 0.15s ease-in-out);

		&.geo-post-prev {
			float: left;
			position: relative;
			text-align: right;
			left: -40px;
		}
		&.geo-post-next {
			float: right;
			position: relative;
			text-align: left;
			right: -40px;
		}

		&>div {
			position: relative;
			padding: 20px 20px 30px;
			background: #397db1;
			position: relative;
			z-index: 2;
			min-height: 150px;
			width: 300px;
		}

		&>div>h5 {
			color: #fff;
			margin-bottom: 10px;
			line-height: 1.2;
			font-size: 16px;
			font-weight: 300;
			text-transform: none;
		}

		&>div>h6 {
			color: #fff;
			border-top: 1px solid #fff;
			margin-bottom: 0;
			font-weight: 700;
			padding-top: 10px;
			display: inline-block;
			font-size: 12px;
		}

		&>div>div {
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 0;
			position: absolute;
			bottom: 10px;
			opacity: 0.5;
			font-weight: 700;
			font-size: 10px;
		}

		&>img {
			position: absolute;
			top: 0;
			z-index: 1;
			height: 100%;
			width: auto;
			@include transition(all 0.15s ease-in-out);
		}
	}

	a.geo-post-prev>div {padding-left: 90px;}
	a.geo-post-next>div {padding-right: 90px;}

	a.geo-post-prev>div>div {left: 60px;}
	a.geo-post-next>div>div {right: 60px;}

	a.geo-post-prev>div>div>span {
		margin-right: 10px;
		font-size: 0.8em;
	}
	a.geo-post-next>div>div>span {
		margin-left: 10px;
		font-size: 0.8em;
	}

	a.geo-post-prev>img {left: 0;}
	a.geo-post-next>img {right: 0;}

	a.geo-post-prev:hover {left: 0;}
	a.geo-post-next:hover {right: 0;}

	a.geo-post-prev:hover>img {left: 100%;}
	a.geo-post-next:hover>img {right: 100%;}

}


