/* ----------------------------------------------------------------------------------------------------
geometric-ui-kit page
---------------------------------------------------------------------------------------------------- */
.geometric-ui-icons {
	margin-bottom: 30px;
	article {
		float: left;
		width: 20%;
		font-size: 10px;
		font-weight: 300;
		// margin-bottom: 8px;
		color: #9e9e9e;
		position: relative;
		padding: 18px 0;
		// letter-spacing: 1px;
		@include transition(all 0.25s $ease-out-quint);
		[class^="icon-"], [class*=" icon-"] {
			float: left;
			font-weight: 400;
			font-size: 30px;
			margin-right: 0.5em;
			color: #4a4a4a;
			@include transition(margin-right 0.15s $ease-out-quint);
			// @include transform(scale(3.0));
		}
		&:hover {
			// @include transform(scale(2.0));
			// letter-spacing: 0.25em;
			font-size: 14px;
			color: #397aa9;
			font-weight: 400;
			[class^="icon-"] {
				color: #397aa9;
				margin-right: 0.75em;
				@include transform(scale(1.75));
			}
		}
	}
}



/* ----------------------------------------------------------------------------------------------------
index only (this will be deleted at final)
---------------------------------------------------------------------------------------------------- */
.index-only {padding: 80px 0;}
.index-only a.logo {margin:0 auto 40px;width:99px;display:block;}
.index-only a.logo svg,
.index-only a.logo img {width:100%;height:auto;}
.index-only div {margin:30px auto;width:1200px;text-align:left;border:1px solid #ccc;padding:20px 10px 10px;position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.index-only div p {position:absolute;top:-10px;left:10px;display:inline-block;background:#ccc;margin:0;padding:0 4px;}
.index-only ul {float:left;list-style:none;padding:10px;margin:0;width:20%;}
.index-only ul.item {background:#eee;position:relative;}
.index-only ul.item:after {
	position:absolute;
	top:0;
	right:0;
	content:'item';
	color:#fff;
	background:#ccc;
	padding:0 4px;
	font-size:8px;
	line-height: 2;
}
// .index-only ul.here-show-more>li>a,
// .index-only ul.here-pagination>li>a {
// 	position:relative;
// }
// .index-only ul.here-show-more>li>a:after,
// .index-only ul.here-pagination>li>a:after {
// 	position: absolute;
// 	color: #fff;
// 	top: 0;
// 	right: 0%;
// 	font-size: 4px;
// 	line-height: 1;
// 	font-weight: 400;
// 	padding: 1px 0;
// 	-webkit-transform: translate(40%, -70%);
// 	-ms-transform: translate(40%, -70%);
// 	transform: translate(40%, -70%);
// 	text-transform: uppercase;
// 	width: 30px;
// 	text-align: center;
// }
// .index-only ul.here-show-more>li>a:after {
// 	content:'show more';
// 	background:#e74c3c;
// }
// .index-only ul.here-pagination>li>a:after {
// 	content:'pagination';
// 	background:#1abc9c;
// }
