/*-------------------------------------------------------------------------*/
/* # BASIC
/*-------------------------------------------------------------------------*/
html {
	position: relative;
	height: 100%;
}

body {
	background: $bg-color;
	color: $text-color;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto', Arial, sans-serif;
	// position: relative;
	// height: 100%;
	// max-width: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}


/**
* typography
* ----------------------------------------------------------------------------
*/
h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0 20px;
}
h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0 20px;
}
h3 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0 20px;
}
h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0 0 10px;
}
h5 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0 0 10px;
}
h6 {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0 0 10px;
}
.small {
	font-size: 10px;
	font-weight: 300;
	line-height: 1.2;
	margin: 0;
}
p {
	font-weight: 300;
	margin: 0 0 10px;
}
// em {
// 	font-style: italic;
// }
// strong {
// 	font-weight: bold;
// }
// hr {
// 	border: solid #ddd;
// 	border-width: 1px 0 0;
// 	clear: both;
// 	margin: 10px 0 30px;
// 	height: 0;
// }



/**
* links
* ----------------------------------------------------------------------------
*/
a {
	text-decoration: none;
	outline: none;
	color: #397db1;
	cursor: pointer;

	&:hover,
	&:focus,
	&:visited {
		text-decoration: none;
	}
}

// a {
// 	color: $link-color;
// 	text-decoration: none;
// 	outline: 0;

// 	&:hover, 
// 	&:focus {
// 		color: lighten($link-color, 20%);
// 	}
// }


/**
* selection colors
* ----------------------------------------------------------------------------
*/
::selection {
	background: $selection-color;
}
::-moz-selection {
	background: $selection-color;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}
body {
	-webkit-tap-highlight-color: $selection-color;
}



/* imgs
============================================================================ */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}


/* inputs
============================================================================ */
input,
textarea {
	border: 1px solid $divider;
	padding: 15px;
	margin: 0;
	font-size: 0.85em;
	line-height: 1.4;
	border-radius: 0;
	background: transparent;
	@include transition(all 0.4s ease);
}
textarea {
	resize: none;
}

input[type="text"],
input[type=search],
textarea {
	width: 100%;
}

input:hover,
textarea:hover {
	outline: none;
	border-color: #bababa;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: #5596c6;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bababa;
	opacity: 1;
	@include transition(color, opacity 0.4s ease);
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 0.5;
}



/* geo-btn
============================================================================ */
.geo-btn {
	border: none;
	outline: none;
	padding: 0.8em 1.5em;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border-radius: 0;
	border: 1px solid transparent;
	@include transition(all .15s ease-in-out);

	&:hover {
		border-color: transparent;
	}
}

.geo-btn-default {
	background: #fff;
	color: #949494;
	border-color: #c0c0c0;

	&:hover {
		color: #949494;
		border-color: #c0c0c0;
	}
}

.geo-btn-primary {
	background: #488cc0;
	color: #fff;

	&:hover {
		background: #5596c6;
		color: #fff;
	}
	&:active {
		background: #4182b3;
	}
	&.disabled {
		background: #e6e6e6;
		pointer-events: none;
		cursor: not-allowed;
	}
}

.geo-btn-link {
	padding-right: 0;
	padding-left: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.geo-btn-lg {
	font-size: 1.5em;
}
.geo-btn-sm {
	font-size: 0.8em;
}
