$color-primary: #4489C4
$color-white: #fff
$color-trans: transparent
$color-black: #000

// btn

//======
$btn-primary-bg-normal: $color-primary
$btn-primary-text-normal: $color-white
$btn-primary-border-normal: $btn-primary-bg-normal

$btn-primary-bg-hover: darken($btn-primary-bg-normal, 5%)
$btn-primary-text-hover: $btn-primary-text-normal
$btn-primary-border-hover: $btn-primary-bg-hover

$btn-primary-bg-active: lighten($btn-primary-bg-normal, 5%)
$btn-primary-text-active: $btn-primary-text-normal
$btn-primary-border-active: $btn-primary-bg-active

//======ghost
$btn-ghost-bg-normal: $color-trans
$btn-ghost-text-normal: $color-primary
$btn-ghost-border-normal: $btn-ghost-text-normal

$btn-ghost-bg-hover: $btn-ghost-bg-normal
$btn-ghost-text-hover: darken($btn-ghost-text-normal, 10%)
$btn-ghost-border-hover: $btn-ghost-text-hover

$btn-ghost-bg-active: $btn-ghost-bg-normal
$btn-ghost-text-active: lighten($btn-ghost-text-normal, 10%)
$btn-ghost-border-active: $btn-ghost-text-active

//======


// $text-color: #fff
// $accent-color: #0ff
// $bg-color: #000
// $link-color: $accent-color
// $selection-color: #ff0

$divider: #f5f5f5

