
<div class="isotope-container">

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-01.jpg" alt="...">
			<span class="status status-new">New</span>
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-02.jpg" alt="...">
			<span class="status status-sale">Sale</span>
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-03.jpg" alt="...">
			<span class="status status-out">Out of stock</span>
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-04.jpg" alt="...">
			<span class="status status-last">Last examples</span>
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-05.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-06.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-07.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-08.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-09.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-10.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-11.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-12.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-13.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-14.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

	<article class="isotope-item">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/shop/list-masonry-15.jpg" alt="...">
		</div>
		<div class="vertical-centering">
			<div class="text-content">
				{% if page.sidebar == false %}
				<h4><a href="#">Bicycle</a></h4>
				{% endif %}
				{% if page.sidebar == true %}
				<h5><a href="#">Bicycle</a></h5>
				{% endif %}
				{% include global/item-rating.html %}
				<nav class="price">
					<b>£230.00</b>
					<s>£256.00</s>
				</nav>
			</div>
			<form class="shoplist-form">
				<input type="hidden" name="product" value="7777">
				{% if page.sidebar == false %}
				<button class="gbtn gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
				{% if page.sidebar == true %}
				<button class="gbtn gbtn-sm gbtn-ghost" type="submit"><span class="icon-cart"></span> Add to cart</button>
				{% endif %}
			</form>
		</div>
	</article>

</div>

{% include global/show-more.html %}
