<ul id="filters" class="geo-portfolio-filter">
	<li><a class="is-checked" data-filter="*">All</a></li>
	<li><a data-filter=".art">Art</a></li>
	<li><a data-filter=".business">Business</a></li>
	<li><a data-filter=".fashion">Fashion</a></li>
	<li><a data-filter=".photography">Photography</a></li>
</ul>

<div class="geo-portfolio-isotope-fitrows clearfix">

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-classic-1.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business " data-category="business">
		<img src="/assets/img/portfolio-classic-2.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="fashion art photography " data-category="fashion">
		<img src="/assets/img/portfolio-classic-3.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>fashion, art, photography</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="photography art " data-category="photography">
		<img src="/assets/img/portfolio-classic-4.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business photography " data-category="business">
		<img src="/assets/img/portfolio-classic-5.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business, photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-classic-6.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business " data-category="business">
		<img src="/assets/img/portfolio-classic-7.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="fashion art photography " data-category="fashion">
		<img src="/assets/img/portfolio-classic-8.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>fashion, art, photography</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

</div>

<div class="geo-portfolio-show-more clearfix">
	<a href="#" class="geo-btn geo-btn-primary geo-btn-lg">Show More</a>
</div>
