<div class="clearfix">

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-01.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business " data-category="business">
		<img src="/assets/img/portfolio-grid-02.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="fashion art photography " data-category="fashion">
		<img src="/assets/img/portfolio-grid-03.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>fashion, art, photography</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="photography art " data-category="photography">
		<img src="/assets/img/portfolio-grid-04.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business photography " data-category="business">
		<img src="/assets/img/portfolio-grid-05.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business, photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-06.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-07.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-08.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-09.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-10.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="/assets/img/portfolio-grid-11.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
						<h6>art</h6>
						<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

</div>

<div class="geo-portfolio-show-more clearfix">
	<a href="#" class="geo-btn geo-btn-primary geo-btn-lg">Show More</a>
</div>

