---
layout: theme
permalink: html/blog/list-grid-4col-full/

---

{% include global/parallax.html %}

<div class="geo-blog geo-blog-grid geo-blog-grid-4-cols">

		<div class="geo-content-area isotope-container">

			{% include blog/list/grid.html %}

		</div>

</div>

<div class="geo-blog-pagination clearfix">
	<a href="#" class="geo-btn geo-btn-primary geo-btn-lg"><span class="icon-uniE5CC"></span> Previous</a>
	<a href="#" class="geo-btn geo-btn-primary geo-btn-lg disabled">Next <span class="icon-uniE5CD"></span></a>
</div>


