<ul id="filters" class="geo-portfolio-filter">
	<li><a class="is-checked" data-filter="*">All</a></li>
	<li><a data-filter=".art">Art</a></li>
	<li><a data-filter=".business">Business</a></li>
	<li><a data-filter=".fashion">Fashion</a></li>
	<li><a data-filter=".photography">Photography</a></li>
</ul>

<div class="isotope-container">

	<article class="isotope-item art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-1.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>art</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-2.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>business</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-3.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>fashion, art, photography</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item photography art " data-category="photography">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-4.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>photography, art</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business photography " data-category="business">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-5.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>business, photography, art</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-6.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>art</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-7.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>business</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-8.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="gbtn gbtn-sm">Read More</a>
					<h5>fashion, art, photography</h5>
					<h4>Venice Art Pavilion</h4>
				</i>
			</span>
		</div>
	</article>

</div>

{% include global/show-more.html %}
