
{% include portfolio/filter.html %}

<div class="isotope-container">

	<article class="isotope-item art " data-category="art">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-1.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">art</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-2.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">business</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-3.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">fashion</a>
					<a href="#">art</a>
					<a href="#">photography</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item photography art " data-category="photography">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-4.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">photography</a>
					<a href="#">art</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item business photography " data-category="business">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-5.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">business</a>
					<a href="#">photography</a>
					<a href="#">art</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item art " data-category="art">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-6.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">art</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-7.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">business</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-8.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">fashion</a>
					<a href="#">art</a>
					<a href="#">photography</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<div class="media-contur">
			<img src="{{ site.baseurl }}/assets/img/portfolio/list-classic-9.jpg" alt="...">
		</div>
		<div class="text-content">
			<div class="vertical-centering">
				{% if page.columns == 2 %}
				<a class="gbtn gbtn-lg">Read More</a>
				{% endif %}
				{% if page.columns == 3 %}
				<a class="gbtn">Read More</a>
				{% endif %}
				{% if page.columns == 4 %}
				<a class="gbtn gbtn-sm">Read More</a>
				{% endif %}
				<nav class="categories">
					<a href="#">fashion</a>
					<a href="#">art</a>
					<a href="#">photography</a>
				</nav>
				{% if page.columns == 2 %}
				<h3>Venice Art Pavilion</h3>
				{% endif %}
				{% if page.columns == 3 %}
				<h4>Venice Art Pavilion</h4>
				{% endif %}
				{% if page.columns == 4 %}
				<h5>Venice Art Pavilion</h5>
				{% endif %}
			</div>
		</div>
	</article>

</div>

{% include global/show-more.html %}
