<ul id="filters" class="geo-portfolio-filter">
	<li><a class="is-checked" data-filter="*">All</a></li>
	<li><a data-filter=".art">Art</a></li>
	<li><a data-filter=".business">Business</a></li>
	<li><a data-filter=".fashion">Fashion</a></li>
	<li><a data-filter=".photography">Photography</a></li>
</ul>

<div class="isotope-container">

	<article class="isotope-item art " data-category="art">
		<img src="{{site.baseurl}}/assets/img/portfolio-custom-1.png" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<img src="{{site.baseurl}}/assets/img/portfolio-custom-2.png" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<h6>business</h6>
					<h5>Venice Art Pavilion</h5>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<img src="{{site.baseurl}}/assets/img/portfolio-custom-3.png" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<h6>fashion, art, photography</h6>
					<h5>Venice Art Pavilion</h5>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
				</i>
			</span>
		</div>
	</article>

</div>

{% include portfolio/show-more.html %}
{% include global/show-more.html %}
