<div class="clearfix">

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-01.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business " data-category="business">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-02.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="fashion art photography " data-category="fashion">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-03.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>fashion, art, photography</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="photography art " data-category="photography">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-04.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="business photography " data-category="business">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-05.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>business, photography, art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-06.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-07.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-08.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-09.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-10.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<h6>art</h6>
					<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

	<article class="art " data-category="art">
		<img src="{{ site.baseurl }}/assets/img/portfolio/list-grid-11.jpg" alt="...">
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
						<h6>art</h6>
						<h5>Venice Art Pavilion</h5>
				</i>
			</span>
		</div>
	</article>

</div>

{% include global/show-more.html %}

