<ul id="filters" class="geo-portfolio-filter">
	<li><a class="is-checked" data-filter="*">All</a></li>
	<li><a data-filter=".art">Art</a></li>
	<li><a data-filter=".business">Business</a></li>
	<li><a data-filter=".fashion">Fashion</a></li>
	<li><a data-filter=".photography">Photography</a></li>
</ul>

<div class="isotope-container">

	<article class="isotope-item art " data-category="art">
		<img src="/assets/img/portfolio-mansory-1.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>art</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business " data-category="business">
		<img src="/assets/img/portfolio-mansory-2.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>business</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item fashion art photography " data-category="fashion">
		<img src="/assets/img/portfolio-mansory-3.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>fashion, art, photography</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item photography art " data-category="photography">
		<img src="/assets/img/portfolio-mansory-4.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>photography, art</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item business photography " data-category="business">
		<img src="/assets/img/portfolio-mansory-5.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>business, photography, art</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

	<article class="isotope-item art " data-category="art">
		<img src="/assets/img/portfolio-mansory-6.jpg" alt="portfolio" />
		<div class="fx-layout">
			<span>
				<i>
					<a href="#" class="geo-btn geo-btn-primary">Read More</a>
					<b>
						<h6>art</h6>
						<h5>Venice Art Pavilion</h5>
					</b>
				</i>
			</span>
		</div>
	</article>

</div>

{% include portfolio/show-more.html %}
{% include global/show-more.html %}

