
<aside class="sidebar">

	<div class="sidebar-item">
		<h4>Search</h4>
		<form class="search">
			<label class="search-icon" for="search">
				<span class="icon-loupe"></span>
			</label>
			<input class="search-input" type="search" name="search" placeholder="Type and hit En" id="search">
		</form>
	</div>

	<div class="sidebar-item">
		<h4>Categories</h4>
		<ul class="sidebar-categories">
			<li><a href="#">Activewear & Sports</a></li>
			<li><a href="#">Beautifull Dresses</a></li>
			<li><a href="#">Coats & Sweaters</a></li>
			<li><a href="#">Denim Wear</a></li>
			<li><a href="#">Elegant Shoes</a></li>
			<li><a href="#">Man`s Blazers</a></li>
			<li><a href="#">Original t-shits</a></li>
			<li><a href="#">Stylish Bags</a></li>
		</ul>
	</div>


	<div class="sidebar-item">
		<h4>Latest Posts</h4>

		<div class="similar">

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/blog/item-1-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">Gist issues eco art psyquest</a></h5>
					<time>June 15, 2015</time>
				</div>
			</div>

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/blog/item-2-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">Minifigures secure pull requests</a></h5>
					<time>March 15, 2015</time>
				</div>
			</div>

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/blog/item-3-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">Eco chess analysis life good</a></h5>
					<time>Febrary 15, 2015</time>
				</div>
			</div>

		</div>
	</div>

	<div class="sidebar-item">
		<h4>Tags</h4>
		<nav class="sidebar-tags">
			<a href="#">Analysis</a>
			<a href="#">Chess</a>
			<a href="#">Minifigures</a>
			<a href="#">Eco</a>
			<a href="#">Art</a>
			<a href="#">Audio</a>
			<a href="#">Articles</a>
			<a href="#">Psychedelic</a>
			<a href="#">Life Is Good</a>
			<a href="#">Pull requests</a>
			<a href="#">Issues</a>
			<a href="#">Gist</a>
			<a href="#">Lorem</a>
			<a href="#">Ipsum</a>
			<a href="#">Dolor</a>
			<a href="#">Sit amet</a>
			<a href="#">Consectetur</a>
		</ul>
	</nav>

</aside>

