/*-------------------------------------------------------------------------*/
/* # SHOP LISTS
/*-------------------------------------------------------------------------*/
.shoplist {
	margin-bottom: 60px;

	&.col-2 article.isotope-item {width: 50%;}
	&.col-3 article.isotope-item {width: 33.3333333333333333333%;}
	&.col-4 article.isotope-item {width: 25%;}

	article.isotope-item {
		text-align: center;
		position: relative;
		overflow: hidden;

		.media-contur {
			position: relative;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
		}

		.text-content {
		}
	}
}


/**
* classic shop list
* ----------------------------------------------------------------------------
*/
.shoplist-classic {

	.isotope-container {
		margin: 0 -15px 20px;

		article.isotope-item {
			padding: 0 15px 40px;

			.media-contur {
				>img {
					@include transition(all 1s ease);
					@include transform(scale(1.0) translateZ(0));
				}

				span.status {
					position: absolute;
					top: 0;
					left: 0;
				}

				.vertical-centering {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(#fff, 0);
					@include transition(all 0.2s ease);

					a.item-url {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
					}

					form.shoplist-form {
						position: absolute;
						top: 150%;
						left: 50%;
						white-space: nowrap;
						padding: 2px;
						@include transition(all 0.2s ease);
						@include transform(translate(-50%,-50%));
					}
				}

				&:hover {
					>img {
						@include transform(scale(1.25));
					}
					.vertical-centering {
						background: rgba(#fff, 0.75);
						form.shoplist-form {top: 50%;}
					}
				}
			}

			.text-content {
				padding: 15px 15px 0;
				text-align: left;

				h3,
				h4,
				h5 {margin-bottom: 4px;}

				nav.item-rating {
					font-size: 10px;
					margin-bottom: 4px;
				}

				nav.price {
					color: #878787;
					font-size: 15px;
					font-weight: 700;
					b {margin-right: 15px;}
					s {color: #e6e6e6;}
				}
			}
		}
	}
}


/**
* masonry shop list
* ----------------------------------------------------------------------------
*/
.shoplist-masonry {

	.isotope-container {
		margin-bottom: 60px;

		article.isotope-item {
			width: 33.3333333333333%;
			&:nth-child(8) {width: 66.6666666666666%;}

			.media-contur {
				>img {
					@include transition(all 1s ease);
					@include transform(scale(1.0) translateZ(0));
				}

				span.status {
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.vertical-centering {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(#fff, 0.9);
				@include transition(all 0.2s ease);
				@include transform(translateY(100%));

				.text-content {
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					@include transform(translateY(-100%));

					h4,
					h5 {margin-bottom: 4px;}

					nav.item-rating {
						font-size: 10px;
						margin-bottom: 4px;
					}

					nav.price {
						color: #878787;
						font-size: 15px;
						font-weight: 700;
						b {margin-right: 15px;}
						s {color: #e6e6e6;}
					}
				}

				form.shoplist-form {
					position: absolute;
					bottom: 0;
					left: 50%;
					white-space: nowrap;
					padding: 2px;
					@include transition(all 0.2s ease);
					@include transform(translate(-50%,-50%));
				}
			}

			&:hover {
				.media-contur {
					>img {
						@include transform(scale(1.25));
					}
				}
				.vertical-centering {
					@include transform(translateY(0));
					.text-content {
					}
				}
			}
		}
	}
}


/**
* shop filter
* ----------------------------------------------------------------------------
*/
.filter-dropdown {
	margin-bottom: 60px;
	@include clearfix;

	form.dropdown-form {

		h5 {
			color: #a7a7a7;
			display: inline-block;
			margin: 0;
			margin-right: 10px;
			font-size: 13px;
		}

		.selectBox-dropdown {
			text-transform: uppercase;
			font-size: 13px;
		}

		input.gbtn {
			display: none;
		}

		&.left-side {
			float: left;
			margin-right: 40px;
		}
		&.right-side {
			float: right;
			margin-left: 40px;
		}
	}

}


/*-------------------------------------------------------------------------*/
/* # SHOP ITEM
/*-------------------------------------------------------------------------*/
.shopitem {
	color: #515151;
	font-size: 14px;
	// line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 60px;

	.shopitem-slider {
		position: relative;

		a.fresco {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 60px;
			height: 60px;
			font-size: 30px;
			line-height: 2;
			text-align: center;
			color: #4385b8;
			background: rgba(#fff, 0.8);
			border-radius: 50%;
			opacity: 0;
			@include transition(all 0.5s $ease-out-quart);
			@include transform(translate(-50%,-50%));
		}

		.flexslider:hover {
			a.fresco {
				opacity: 0.75;
				&:hover {opacity: 1;}
			}
		}

		.status {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.shopitem-header {
		position: relative;
		border-bottom: 1px solid $divider;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	// p {
	// 	margin-bottom: 20px;
	// }

	.shopitem__arrows {
		position: absolute;
		right: 0;
		top: 0;
	}

	h1 {
		font-weight: 300;
		color: #6a6a6a;
	}
}

.shopitem-form {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 1px solid $divider;
	@include clearfix;

	.size-row {
		color: #515151;
		line-height: 44px;
		margin-bottom: 20px;
		@include clearfix;

		.title {
			float: left;
			margin-right: 10px;
			min-width: 80px;
		}

		.list {
			float: left;

			.item {
				float: left;

				label {
					min-width: 44px;
					cursor: pointer;
					position: relative;
					text-align: center;
					margin-right: 10px;
					border: 2px solid transparent;
					@include transition(all 0.75s $ease-out-circ);

					&:hover {
						font-weight: 500;
						border-color: $divider;
					}
				}

				input[type="radio"] {display: none;}
				input[type="radio"]:checked + label {
					font-weight: 500;
					color: #488cc0;
					border-color: #488cc0;
				}
			}
		}
	}

	.color-row {
		color: #515151;
		margin-bottom: 20px;
		position: relative;
		@include clearfix;

		.title {
			display: inline-block;
			margin-right: 10px;
			min-width: 77px;
		}
	}

	.add-row {
		margin-bottom: 20px;
		@include clearfix;

		.shopitem-form-price {
			float: left;
			line-height: 60px;
			color: #5a9ed2;
			font-size: 20px;
			font-weight: 700;
			del {
				color: #e6e6e6;
				padding-left: 15px;
				font-size: 14px;
			}
		}

		button.gbtn {
			float: right;
		}

		.shopitem-quantity {
			position: relative;
			float: right;
			border: 1px solid transparent;
			@include transition(all 0.25s $ease-out-circ);
			&:hover {border-color: $divider;}
			input.quantity {
				width: 140px;
				text-align: center;
				color: #909090;
				font-weight: 700;
				font-size: 22px;
				padding: 14px 44px;
				border: none;
			}
			button[class^="quantity-"] {
				position: absolute;
				top: 50%;
				border: none;
				outline: none;
				line-height: 1;
				padding: 6px;
				background: none;
				@include transform(translateY(-50%));
				&.quantity-minus {left: 24px;}
				&.quantity-plus {right: 24px;}
				[class^="icon-"] {
					color: $btn-primary-bg-normal;
					&:hover {color: $btn-primary-bg-hover;}
					&:active {color: $btn-primary-bg-active;}
				}
			}
			input[type="number"].quantity,
			input[type="number"].quantity::-webkit-inner-spin-button,
			input[type="number"].quantity::-webkit-outer-spin-button {
				-moz-appearance: textfield;
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}


/**
* item rating
* ----------------------------------------------------------------------------
*/
nav.item-rating {
	font-size: 12px;
	// margin-bottom: 30px;

	[class^="icon-"] {
		color: #e6e6e6;
		// cursor: pointer;
		margin-right: 2px;
		@include transition(all 0.2s ease);

		&.active {color: #3787c4;}
		// &:hover {color: #3787c4;}
	}
}


/**
* shop item breadcrumb
* ----------------------------------------------------------------------------
*/
ol.breadcrumb {
	padding: 0;
	margin-bottom: 30px;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;

	>li {
		font-size:10px;
		+li:before {
			padding: 0 5px;
			color: #6a6a6a;
			content:'>';
			position: relative;
			top: -1px;
		}
	}
}


/**
* shop item alpha arrows
* ----------------------------------------------------------------------------
*/
.arrows-a {
	.arrows-a__prev,
	.arrows-a__next {
		width: 40px;
		line-height: 42px;
		height: 40px;
		background: #fafafa;
		color: #6a6a6a;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		width: 40px;
		display: block;
		float: left;
	}
	.arrows-a__prev {
		margin-right: 10px;
	}
	.arrows-a__next {
		
	}
}


/**
* shop item vertical tabs
* ----------------------------------------------------------------------------
*/
.vtabs {
	border: 0 solid $divider;
	border-width: 1px 0;
	margin-bottom: 40px;
	padding: 30px 0;
	@include clearfix;
}
.vtabs__tablist {
	width: 25%;
	float: left;
	border-right: 1px solid $divider;
	padding-bottom: 60px;
}
.vtabs__tablist__item {
	padding-right: 30px;
}
.vtabs__tablist__item>a {
	text-transform: uppercase;
	color: #515151;
	font-weight: 700;
	padding: 20px 0;
	display: block;
	position: relative;
}
.vtabs__tablist__item>a:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #f2f2f2;
	@include transition(all 0.2s ease);
}
.vtabs__tablist__item.active>a:after {
	height: 2px;
	background: #488cc0;
}
.vtabs__tabcontent {
	width: 75%;
	float: left;
	padding-left: 30px;
}
.vtabs__tabcontent__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	@include transition(all 0.75s ease);
}
.vtabs__tabcontent__item.active {
	height: auto;
	opacity: 1;
}


/**
* shop item table
* ----------------------------------------------------------------------------
*/
.gtable {
	margin-bottom: 40px;
	width: 100%;

	tbody {}
	tr {
		border-bottom: 1px dotted $divider;
		&:last-child {
			border-bottom: none;
		}
	}
	th {
		color: #515151;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
		padding: 20px 0;
		line-height: 20px;
	}
	td {
		color: #515151;
		font-weight: 300;
		font-size: 15px;
		padding: 25px 0;
		line-height: 20px;
	}
}

