/*-------------------------------------------------------------------------*/
/* # DEVELOP ONLY (this will be deleted at final)
/*-------------------------------------------------------------------------*/
.index-only {
	font-size: 14px;
	line-height: 2;
	padding: 40px 0 120px;

	.isotope-item {
		padding: 10px 10px;
		float: left;
		width: 20%;

		&.item {
			background: #eee;
			position: relative;

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				content: 'item';
				color: #fff;
				background: #ccc;
				padding: 0 4px;
				font-size: 7px;
				line-height: 1.5;
			}
		}
	}
}


/**
* theme settings
* ----------------------------------------------------------------------------
*/
ul.js-elements {
	position: fixed;
	z-index: 100000000000000;
	left: 0;
	top: 50%;
	background: #488cc0;
	padding: 8px;
	font-size: 10px;
	text-transform: uppercase;
	min-width: 180px;
	@include transition(all 0.5s $ease-out-circ);
	@include transform(translate(-100%,-50%));

	&:before {
		position: absolute;
		content: 'Theme Settings';
		top: 0;
		left: 0;
		padding: 4px;
		color: #488cc0;
		background: #fff;
		width: 100%;
		text-align: center;
		@include border-width(1px 1px null);
		@include border-style(solid);
		@include border-color(#488cc0);
		@include transform(translateY(-100%));
	}

	&:after {
		position: absolute;
		content: '';
		top: 50%;
		right: 1px;
		@include transform(translate(100%,-50%));
		@include triangle(30px, #488cc0, right);
		border-right: 15px solid transparent;
	}

	&:hover {
		@include transform(translate(0,-50%));
	}

	li {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			padding: 4px;
			background: #000;
			color: #fff;
			display: inline-block;

			&.js-empty-cart {
				&:after {
					content: 'full';
				}
			}
		}
	}
}

body {
	.shoping-cart-box {
		.cart-empty {display: none;}
	}
	&.emptyCart {
		a.js-empty-cart {
			background: #1abc9c;
			&:after {
				content: 'emty';
			}
		}
		.shoping-cart-box {
			.cart-item,
			.cart-footer {display: none;}
			.cart-empty {display: block;}
		}
	}
}

