---
layout: default
permalink: /html/portfolio/item/

---

<article class="portfolioitem">
	{% include portfolio/item/item.html %}
</article>

<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<div class="related">

				<div class="related-head">
					<h4 class="related-title">Related Works</h4>
					<a href="#" class="prev"><span class="icon-arrow-left"></span></a>
					<a href="#" class="next"><span class="icon-arrow-right"></span></a>
				</div>

				<div class="related-body">

					<ul class="geo-relative-posts">
						<li>
							<a href="#">
								<div class="image-contur">
									<img src="{{ site.baseurl }}/assets/img/portfolio/relative-1.jpg" alt="...">
								</div>
								<h5>Gentlemen's Club</h5>
								<h6>Identity, Photography</h6>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="image-contur">
									<img src="{{ site.baseurl }}/assets/img/portfolio/relative-2.jpg" alt="...">
								</div>
								<h5>Experimental Fashion Photography</h5>
								<h6>Identity, Photography</h6>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="image-contur">
									<img src="{{ site.baseurl }}/assets/img/portfolio/relative-3.jpg" alt="...">
								</div>
								<h5>Photos of New York</h5>
								<h6>Identity, Photography</h6>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="image-contur">
									<img src="{{ site.baseurl }}/assets/img/portfolio/relative-4.jpg" alt="...">
								</div>
								<h5>Photography Project</h5>
								<h6>Identity, Photography</h6>
							</a>
						</li>
					</ul>

				</div>
			</div>

		</div>
	</div>
</div>

{% include blog/item/blogitem-bottom.html %}

