/* ----------------------------------------------------------------------------------------------------
btns
---------------------------------------------------------------------------------------------------- */
.gbtn {
	border:0;
	background:red;
	color:white;
	outline:none;
	padding:10px 20px;
	font-size:13px;
	text-transform:uppercase;
	font-weight:700;
	cursor:pointer;
	line-height:20px;
	display:inline-block;
	&:hover {border:0;}
	&:focus {border:0;}
	&:active {border:0;}
}

.gbtn--primary {}
.gbtn--bordered {}

