/* ----------------------------------------------------------------------------------------------------
btns
---------------------------------------------------------------------------------------------------- */

// @include transform(scale(0.75) translateZ(0));
// ≈

.gbtn {
	position: relative;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	outline: none;
	font-size: 14px;
	padding: 14px 26px;
	line-height: 1.5;
	text-transform:uppercase;
	font-weight: 700;
	cursor: pointer;
	@include transition(all 0.25s $ease-out-quint);
	@include box-sizing(border-box);

	//size
	&.gbtn-sm {
		font-size: 10px;
		padding: 12px 30px;
	}
	&.gbtn-lg {
		font-size: 14px;
		padding: 15px 40px;
	}

	//gbtn
	&,
	&:focus {
		background: $btn-primary-bg-normal;
		color: $btn-primary-text-normal;
		border-color: $btn-primary-border-normal;
	}
	&:hover {
		background: $btn-primary-bg-hover;
		color: $btn-primary-text-hover;
		border-color: $btn-primary-border-hover;
	}
	&.active,
	&:active {
		background: $btn-primary-bg-active;
		color: $btn-primary-text-active;
		border-color: $btn-primary-border-active;
	}

	//ghost
	&.gbtn-ghost {
		&,
		&:focus {
			background: $btn-ghost-bg-normal;
			color: $btn-ghost-text-normal;
			border-color: $btn-ghost-border-normal;
		}
		&:hover {
			background: $btn-ghost-bg-hover;
			color: $btn-ghost-text-hover;
			border-color: $btn-ghost-border-hover;
		}
		&.active,
		&:active {
			background: $btn-ghost-bg-active;
			color: $btn-ghost-text-active;
			border-color: $btn-ghost-border-active;
		}
	}

	// //just for fun
	// &:after {
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	content: '@';
	// 	font-size: 8px;
	// 	font-weight: 700;
	// 	line-height: 1;
	// 	padding: 4px;
	// 	color: $color-black;
	// 	display: block;
	// 	text-transform: uppercase;
	// }

	//showmore
	&.gbtn-showmore {
		[class^="icon-load"] {
			position: relative;
			// display: inline-block;
			// top: 50%;
			// line-height: 70%;
			// font-size: 150%;
			// @include transform(translateY(28%));
			margin-right: 10px;
		}
		&.gbtn-loading {
			[class^="icon-load"] {
				@include animation(fx-rotate 0.75s linear infinite);
			}
		}
	}
}

@include keyframes(fx-rotate) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(-360deg));
	}
}


/* ----------------------------------------------------------------------------------------------------
btn-group
---------------------------------------------------------------------------------------------------- */
.gbtn-group {
	@include clearfix;

	.gbtn {
		float: left;
		margin-right: 1px;
		&:last-child {
			margin: 0; 
		}
	}
}
