/* ----------------------------------------------------------------------------------------------------
btns
---------------------------------------------------------------------------------------------------- */
.gbtn {border:0;background:red;color:white;outline:none;padding:10px 20px;font-size:13px;text-transform:uppercase;font-weight:700;cursor:pointer;line-height:20px;display:inline-block;}
.gbtn:hover {border:0;}
.gbtn:focus {border:0;}
.gbtn:active {border:0;}

.gbtn--primary {}
.gbtn--bordered {}

