/*-------------------------------------------------------------------------*/
/* # BUTTONS
/*-------------------------------------------------------------------------*/
.gbtn {
	position: relative;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	line-height: 20px;
	@include transition(all 0.25s $ease-out-quint);
	@include box-sizing(border-box);

	font-size: 12px;
	padding: 13px 30px;

	[class^="icon-"] {
		margin-right: 0.5em;
		font-size: 2em;
		line-height: 0;
		position: relative;
		top: 0.25em;
	}

	//small
	&.gbtn-sm {
		font-size: 10px;
		padding: 8px 20px;
	}

	//large
	&.gbtn-lg {
		font-size: 14px;
		padding: 18px 40px;
	}

	//states
	&,
	&:focus {
		background: $btn-primary-bg-normal;
		color: $btn-primary-text-normal;
		border-color: $btn-primary-border-normal;
	}
	&:hover {
		background: $btn-primary-bg-hover;
		color: $btn-primary-text-hover;
		border-color: $btn-primary-border-hover;
	}
	&.active,
	&:active {
		background: $btn-primary-bg-active;
		color: $btn-primary-text-active;
		border-color: $btn-primary-border-active;
	}

	//ghost
	&.gbtn-ghost {
		&,
		&:focus {
			background: $btn-ghost-bg-normal;
			color: $btn-ghost-text-normal;
			border-color: $btn-ghost-border-normal;
		}
		&:hover {
			background: $btn-ghost-bg-hover;
			color: $btn-ghost-text-hover;
			border-color: $btn-ghost-border-hover;
		}
		&.active,
		&:active {
			background: $btn-ghost-bg-active;
			color: $btn-ghost-text-active;
			border-color: $btn-ghost-border-active;
		}
	}

	//showmore
	&.gbtn-showmore {
		// [class^="icon-load"] {
		// 	position: relative;
		// 	display: inline-block;
		// 	top: 50%;
		// 	line-height: 70%;
		// 	font-size: 150%;
		// 	margin-right: 10px;
		// 	@include transform(translateY(28%));
		// }
		&.gbtn-loading {
			[class^="icon-load"] {
				@include animation(fx-rotate 0.75s linear infinite);
			}
		}
	}

	//prev
	&.gbtn-prev {
		text-align: center;
		padding-right: 20px;
		padding-left: 60px;
		[class^="icon-arrow-left"] {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 14px;
		}
	}

	//next
	&.gbtn-next {
		text-align: center;
		padding-right: 60px;
		padding-left: 20px;
		[class^="icon-arrow-right"] {
			margin: 0;
			position: absolute;
			top: 50%;
			right: 14px;
		}
	}
}

@include keyframes(fx-rotate) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(-360deg));
	}
}


// btn-group
.gbtn-group {
	@include clearfix;

	.gbtn {
		float: left;
		// margin-right: 1px;
		&:last-child {
			margin: 0; 
		}
	}
}


