/*-------------------------------------------------------------------------*/
/* # CHECKBOX
/*-------------------------------------------------------------------------*/
.geo-checkbox {
	margin-bottom: 10px;

	label {
		cursor: pointer;
		margin: 0;
	}

	input[type="checkbox"] {
		display: none;
		&:checked + label span {
			background: #488cc0;
		}
	}

	input[type="checkbox"] + label {
		color: #6a6a6a;
		font-size: 14px;
		font-weight: 300;

		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			vertical-align: middle;
			cursor: pointer;
			border: 2px solid $divider;
			border-radius: 3px;
			background: $divider;
			@include transition(all 0.2s $ease-out-quart);
		}

		&:hover span {background: #488cc0;}
	}
}