// /*
//  * jQuery FlexSlider v2.4.0
//  * http://www.woothemes.com/flexslider/
//  *
//  * Copyright 2012 WooThemes
//  * Free to use under the GPLv2 and later license.
//  * http://www.gnu.org/licenses/gpl-2.0.html
//  *
//  * Contributing author: Tyler Smith (@mbmufffin)
//  * 
//  */
// /* ====================================================================================================================
//  * FONT-FACE
//  * ====================================================================================================================*/
// @font-face {
// 	font-family: 'flexslider-icon';
// 	src: url('../fonts/webfont/flexslider-icon.eot');
// 	src: url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/flexslider-icon.woff') format('woff'), url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'), url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
	outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	position: relative;
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * GEOMETRIC THEME
 * ====================================================================================================================*/
.flexslider {
	margin-bottom: 20px;
	background: #fff;
	position: relative;
	zoom: 1;
	overflow: hidden;

	.slides {
		zoom: 1;
	}

	// .slides img {
	// 	height: auto;
	// }
}

.flex-viewport {
	max-height: 2000px;
	margin-bottom: 0;
	// @include transition(all 10.0s ease);
}
.loading .flex-viewport {
	max-height: 300px;
}
.carousel li {
	margin-right: 5px;
}

.flex-direction-nav {
	a {
		text-decoration: none;
		display: block;
		width: 60px;
		height: 60px;
		font-size: 30px;
		line-height: 2;
		position: absolute;
		top: 50%;
		z-index: 10;
		overflow: hidden;
		opacity: 0.75;
		outline: none;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.8);
		color: #4385b8;
		text-align: center;
		@include transition(all 0.3s ease-in-out);
		@include transform(translate(0, -50%));

		&:before {
			font-family: "icomoon";
			display: inline-block;
		}

		&.flex-prev {
			left: 0;
			@include transform(translate(-100%, -50%));
			&:hover {opacity: 1.0;}
		}
		&.flex-next {
			right: 0;
			@include transform(translate(100%, -50%));
			&:hover {opacity: 1.0;}
		}

		&.flex-prev:before {content: "\e5cc";}
		&.flex-next:before {content: "\e5cd";}
	}
}

.flexslider:hover .flex-direction-nav {
	.flex-prev {
		@include transform(translate(0, -50%));
		&.flex-disabled {
			@include transform(translate(-100%, -50%));
		}
	}
	.flex-next {
		@include transform(translate(0, -50%));
		&.flex-disabled {
			@include transform(translate(100%, -50%));
		}
	}
}

.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
	font-family: "icomoon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}
.flex-pauseplay a:hover {
	opacity: 1.0;
}
.flex-pauseplay a .flex-play:before {
	content: '\f003';
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
}
.flex-control-paging li a:hover {
	background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
	background: rgba(255, 255, 255, 0.9);
	cursor: default;
}

.flex-control-thumbs {
	margin: 0 -9px;
	width: auto;
	position: relative;
	bottom: auto;

	li {
		width: 25%;
		float: left;
		margin: 0;
		padding: 0 9px;

		img {
			width: 100%;
			height: auto;
			display: block;
			opacity: 0.5;
			cursor: pointer;
			border: 2px solid transparent;
			@include transition(all 0.3s ease);
			@include transform(translateZ(0));
			@include filter(grayscale(100%));

			&:hover,
			&.flex-active {
				opacity: 1.0;
				border-color: #488cc0;
				@include filter(grayscale(0));
			}

			&.flex-active {
				cursor: default;
			}
		}
	}
}



/* ====================================================================================================================
 * New styles for geometric
 * ====================================================================================================================*/
#carousel-nav {
	width: auto;
	position: relative;
	bottom: auto;

	.flex-viewport li {
		cursor: pointer;
		@include filter(grayscale(100%));

		img {
			border: 2px solid transparent;
			opacity: 0.5;
			width: 90%;
			margin-right: 10%;
			@include transition(all 0.3s ease);
			@include transform(translateZ(0));
		}

		&:hover,
		&.flex-active-slide {
			@include filter(grayscale(0));

			img {
			border-color: #488cc0;
				opacity: 1.0;
			}
		}
	}
}

.flex-caption {
	opacity: 0.0;
	@include transition(opacity 0.75s ease-in-out 0.5s);
}
.flex-active-slide .flex-caption {
	opacity: 1.0;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {

	.flex-direction-nav {
		a.flex-prev {
			opacity: 1.0;
			left: 0;
		}
		a.flex-next {
			opacity: 1.0;
			right: 0;
		}
	}

	.flexslider:hover .flex-direction-nav {
		.flex-prev {opacity: 1.0;}
		.flex-next {opacity: 1.0;}
	}

}
