/* ----------------------------------------------------------------------------------------------------
footer social
---------------------------------------------------------------------------------------------------- */
nav.footer-social {
	display: table;
	table-layout: fixed;
	width: 100%;

	a {
		display: table-cell;
		background: #ddd;
		color: #fff;
		font-size: 36px;
		padding: 1em 0;
		text-align: center;
		@include transition(all 0.15s ease-in-out);
		&:hover {background: #ccc;}

		&.facebook {
			background: #3b5997;
			&:hover {background: #32508a;}
		}
		&.linkedin {
			background: #0273b3;
			&:hover {background: #0c6ba6;}
		}
		&.twitter {
			background: #0fa7c8;
			&:hover {background: #189bb9;}
		}
		&.google-plus {
			background: #da5436;
			&:hover {background: #cc472f;}
		}
		&.instagram {
			background: #7c4e41;
			&:hover {background: #6e4236;}
		}
		&.youtube {
			background: #C62A2C;
			&:hover {background: #B31F21;}
		}
		&.vk {
			background: #44678d;
			&:hover {background: #395b7e;}
		}
		&.pinterest {
			background: #cd2129;
			&:hover {background: #c41a22;}
		}
		&.tumblr {
			background: #35506b;
			&:hover {background: #2d4761;}
		}
		&.dribbble {
			background: #e04d84;
			&:hover {background: #d13f76;}
		}
		&.foursquare {
			background: #0732a2;
			&:hover {background: #042a8e;}
		}
		&.behance {
			background: #005cff;
			&:hover {background: #0050de;}
		}
		&.soundcloud {
			background: #ff5419;
			&:hover {background: #ed460c;}
		}
		&.lastfm {
			background: #cd1d23;
			&:hover {background: #bf1218;}
		}
		&.github {
			background: #202021;
			&:hover {background: #18181b;}
		}
		&.flickr {
			background: #0063db;
			&:hover {background: #005bc9;}
		}

	}
}
