/* ----------------------------------------------------------------------------------------------------
footer simple
---------------------------------------------------------------------------------------------------- */
footer.footer-simple {
	text-align: center;
	background: #3D3D3D;
	padding: 70px 0;

	a.footer-logo {
		display: inline-block;
		margin-bottom: 45px;
		max-width: 200px;
		max-height: 85px;
	}

	p {
		color: #9E9E9E;
		font-size: 10px;
		line-height: 1.5;
		font-weight: 400;
		margin-bottom: 0;

		a {
			color: #ddd;
			&:hover {color: #fff;}
		}
	}
}
