/*-------------------------------------------------------------------------*/
/* # HEADER
/*-------------------------------------------------------------------------*/
.geo-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10000;
	max-height: 100px;
	font-size: 14px;

	.container {
		@include transition(all 0.5s $ease-in-out-quad);
	}

	&.geo-header-large .container {}
	&.geo-header-small .container {width: 94%;}
}
@media (max-width:1000px) {.geo-header {display: none;}}


/**
* Logo
* ----------------------------------------------------------------------------
*/
nav.geo-main-logo {
	float: left;
	display: table;
	min-height: 100px;
	>a {
		display: table-cell;
		vertical-align: middle;
	}
	>a>img {
		max-height: 70px;
	}
}


/**
* Main
* ----------------------------------------------------------------------------
*/
nav.geo-main-menu {
	float: right;
	>ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;

		>li {
			padding: 0 15px;
			position: relative;
			display: table-cell;
			vertical-align: middle;
			line-height: 100px;

			>a {
				text-transform: uppercase;
				color: #6a6a6a;
				font-weight: 500;
				float: left;
			}

			&:hover>a {color: #4385b8;}

			>ul{
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				background: #4385b8;
			}

			&:hover>ul {display: block;}
		}

		>li.geo-megamenu>ul{overflow:hidden;}
		>li.geo-megamenu>ul>li {position:relative;}
		>li.geo-megamenu>ul>li:before {content:'';position:absolute;left:-1px;top:0;height:1000%;background:#5992bd;width:1px;}
		>li>ul>li h6 {color:rgba(255,255,255,.2);padding:12px 15px;margin:0;}
		>li>ul>li a {color:#fff;padding:12px 15px;display:block;line-height:1.2;}
		>li>ul>li a:hover {background:#3d79a8;}
		>li>ul>li {float:left;width:200px;}
		>li.geo-megamenu.geo-megamenu-col-1 ul.geo-submenu {width:200px;left:0;}
		>li.geo-megamenu.geo-megamenu-col-2 ul.geo-submenu {width:400px;left:-250px;}
		>li.geo-megamenu.geo-megamenu-col-3 ul.geo-submenu {width:600px;left:-300px;}
		>li.geo-megamenu.geo-megamenu-col-4 ul.geo-submenu {width:800px;left:-350px;}
		>li.geo-megamenu.geo-megamenu-col-5 ul.geo-submenu {width:1000px;left:-400px;}
		>li.geo-classicmenu>ul>li {position:relative;}
		>li.geo-classicmenu>ul>li>a {position:relative;}
		>li.geo-classicmenu>ul>li>a>[class^="icon-"] {position:absolute;top:50%;margin-top:-4px;font-size:8px;right:8px;font-weight:700;}
		>li.geo-classicmenu>ul>li>ul.geo-subsubmenu {position:absolute;top:0;left:100%;width:200px;background:#4180b1;display:none;}
		>li.geo-classicmenu>ul>li:hover>ul.geo-subsubmenu {display:block;}
	}
}


/**
* Languages
* ----------------------------------------------------------------------------
*/
nav.geo-languages-menu {
	float: right;
	position: relative;
	top: 29px;
	text-align: center;

	>ul {
		margin: 0;
		padding: 0;
		list-style: none;

		>li {
			margin: 0 15px;

			a {
				text-transform: uppercase;
				color: #6a6a6a;
				font-weight: 500;
				display: block;
				width: 42px;
				line-height: 42px;

				&:hover {background: #3d79a8;}
			}

			>ul {
				display: none;
				>li {
					>a {
						background: #4986b6;
						color: #fff;
					}
				}
			}

			&:hover {
				background: #3d79a8;
				a {color: #fff;}
				>ul {display: block;}
			}
		}
	}
}


/**
* Search
* ----------------------------------------------------------------------------
*/
.geo-searchbox-menu {
	position: relative;
	top: 26px;
	z-index: 100;
	width: 50px;
	height: 50px;
	float: right;

	.geo-searchbox {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 50px;
		width: 0;
		height: 50px;
		float: right;
		overflow: hidden;
		@include transition(all 0.5s ease);

		.geo-searchbox-input {
			position: absolute;
			z-index: 100;
			top: 0;
			right: 0;
			border: 0;
			outline: 0;
			background: #fff;
			width: 100%;
			height: 50px;
			margin: 0;
			border: none;
			padding: 0 50px 0 0;
			font-size: 25px;
			color: #646464;
		}
		.geo-searchbox-input::-webkit-input-placeholder {
			color: #646464;
		}

		.geo-searchbox-icon,
		.geo-searchbox-submit {
			width: 50px;
			height: 50px;
			display: block;
			z-index: 200;
			position: absolute;
			top: 0;
			font-size: 24px;
			font-weight: 700;
			right: 0;
			padding: 0;
			margin: 0;
			border: 0;
			outline: 0;
			line-height: 50px;
			text-align: center;
			cursor: pointer;
			color: #6a6a6a;
			background: #fff;
		}
		.geo-searchbox-icon:hover,
		.geo-searchbox-submit:hover {
			color: #4385b8;
		}
	}
	.geo-searchbox.geo-searchbox-open {
		// width: 1100%;
	}
}


/**
* Cart
* ----------------------------------------------------------------------------
*/
.main-menu-cart {
	float: right;
	position: relative;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;

		li {
			padding: 0;
			position: relative;
			display: table-cell;
			vertical-align: middle;
			line-height: 100px;

			a {
				padding: 0 15px;
				text-transform: uppercase;
				color: #6a6a6a;
				float: left;
				font-size: 24px;
				font-weight: 700;

				&:hover {color: #4385b8;}

				.purchased-items {
					background: #3679ab;
					color: #fff;
					border-radius: 4px;
					text-align: center;
					font-weight: 300;
					font-size: 10px;
					position: absolute;
					top: 22px;
					right: 0;
					line-height: 15px;
					padding: 2px 5px;
				}
			}
		}
	}

	.shoping-cart-box {
		position: absolute;
		overflow: hidden;
		top: 100%;
		right: 0;
		height: 0;
		background: #5596c7;
		color: #fff;
		opacity: 0;
		@include transition(opacity 0.25s $ease-in-out-quad 0.01s);

		&:before {
			position: absolute;
			top: 0;
			right: 21px;
			content: '';
			@include triangle(16px, #5596c7, up);
			@include transform(translateY(-100%));
		}

		.cart-item {
			width: 100%;
			float: left;
			border-bottom: 1px solid #cee1ef;
			position: relative;

			.cart-image {
				width: 100px;
				float: left;
				@include transition(all 0.15s ease);

				&:hover {
					opacity: 0.85;
				}
			}

			.cart-details {
				width: 240px;
				float: left;
				@include padding(null 20px);

				.cart-title {
					@include padding(15px null 10px);

					a {
						display: inline-block;
						font-size: 15px;
						line-height: 20px;
						font-weight: 300;
						color: #fff;
						@include transition(all 0.15s ease);

						&:hover {
							color: #cee1ef;
						}
					}
				}

				.cart-countprice {
					font-size: 15px;
					line-height: 20px;
					font-weight: 400;
					color: #cee1ef;

					span {
						color: #fff;
					}
				}
			}

			a.cart-close {
				position: absolute;
				top: 18px;
				right: 18px;
				padding: 4px;
				display: inline-block;
				font-size: 15px; 
				line-height: 1;
				color: #cee1ef;

				&:hover {
					color: #fff;
				}
			}
		}

		.cart-footer {
			width: 340px;
			float: left;
			padding: 10px;
			padding: 16px;
			text-align: center;

			span.cart-subtotal {
				float: left;
				background: #488cc0;
				font-size: 15px;
				line-height: 50px;
				font-weight: 300;
				padding: 0 5px;
				width: 50%;

				span {
					font-weight: 400;
				}
			}

			a.cart-veiwcart {
				float: left;
				color: #488cc0;
				background: #fff;
				font-size: 13px;
				line-height: 48px;
				padding: 0 5px;
				font-weight: 700;
				text-transform: uppercase;
				width: 50%;

				[class^="icon-"] {
					margin-right: 10px;
					font-size: 20px;
					position: relative;
					top: 3px;
				}
			}
		}
		.cart-empty {
			width: 180px;
			float: left;
			padding: 10px;
			padding: 16px;
			text-align: center;
		}
	}

	&:hover {
		.shoping-cart-box {
			opacity: 1;
			overflow: visible;
			height: auto;
		}
	}
}

