/*-------------------------------------------------------------------------*/
/* # ITEM NAVIGATION
/*-------------------------------------------------------------------------*/
.item-navigation {
	position: relative;

	a {
		position: absolute;
		top: 0;
		color: #fff;
		background: #397db1;
		@include transition(all 0.5s $ease-out-circ);

		img {
			position: absolute;
			z-index: 1;
			top: 0;
			height: 100%;
			width: auto;
			@include transition(all 0.5s $ease-out-circ);
		}

		article {
			background: #397db1;
			min-height: 150px;
			padding: 20px 20px 30px;
			position: relative;
			z-index: 2;
			width: 280px;

			h4 {
				color: #fff;
				font-weight: 300;
				margin-bottom: 10px;
				font-size: 15px;
				line-height: 1.3;
			}

			h5 {
				color: #fff;
				border-top: 1px solid rgba(#fff, 0.5);
				margin-bottom: 0;
				font-weight: 700;
				padding-top: 10px;
				display: inline-block;
				font-size: 12px;

				[class^="icon-"] {
					font-size: 16px;
					margin: 0 4px;
					position: relative;
					top: 2px;
				}
			}

			p {
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 0;
				position: absolute;
				bottom: 10px;
				opacity: 0.5;
				font-weight: 700;
				font-size: 10px;

				[class^="icon-"] {
					font-size: 0.8em;
					margin: 0 10px;
				}
			}

		}


		&.item-prev {
			text-align: right;
			left: 0;
			padding-left: 0;
			img {
				left: 0;
			}
			p {
				left: 0;
			}
			&:hover {
				padding-left: 40px;
				img {
					left: 100%;
				}
			}
		}

		&.item-next {
			text-align: left;
			right: 0;
			padding-right: 0;
			img {
				right: 0;
			}
			p {
				right: 0;
			}
			&:hover {
				padding-right: 40px;
				img {
					right: 100%;
				}
			}
		}

	}
}

