/* ----------------------------------------------------------------------------------------------------
landing basic team
---------------------------------------------------------------------------------------------------- */

$land-team-text-color: #656565;
$land-divider-color: #f5f5f5;
$land-team-soclink-color-normal: #e2e2e2;
$land-team-soclink-color-hover: #397aa9;

section.land-team {
	@include border-width(null null 1px null);
	@include border-style(solid);
	@include border-color(null null $land-divider-color null);

	.land-title {
	}

	.land-description {
	}

	.land-header {
		@include margin(null null 80px);
	}

	.land-body {
		article.team-member {
			float: left;
			width: 33.33333333333%;
			text-align: left;
			@include padding(null 2%);

			.image-contour {
				margin-bottom: 10px;
				overflow: hidden;
				position: relative;
				@include transition(all 3.75s $ease-out-circ);
				@include filter(grayscale(100%));
				img.member-photo {
					width: 100%;
					height: auto;
					@include transition(all 3.75s $ease-out-circ);
					@include transform(scale(1) translateY(0) translateZ(0));
				}

				.extra-content {
					position: absolute;
					bottom: -4px;
					left: -5px;
					right: -5px;
					background: $color-white;
					@include padding(12px 5px);
					@include transition(all 1.25s $ease-out-circ);
					@include transform(translateY(100%));
					overflow: hidden;
					nav.member-social {
						width: 100%;
						a {
							font-size: 22px;
							padding: 10px 0;
							text-align: center;
							width: 16.66666666666666666666%;
							float: left;
							// margin-right: 8px;
							color: $land-team-soclink-color-normal;
							display: inline-block;
							@include transition(all 0.25s $ease-out-quint);
							// [class^="icon-load"] {
							// }
							&:hover {color: $land-team-soclink-color-hover;}
						}
					}
				}

			}

			.text-content {
				color: $land-team-text-color;
				.member-position {
					font-size: 15px;
					font-weight: 300;
				}
				.member-name {
					font-size: 20px;
					text-transform: uppercase;
					font-weight: 500;
					margin-bottom: 10px;
				}
				.member-description {
					font-size: 15px;
					font-weight: 300;
				}
			}

			&:hover {
				.image-contour {
					@include filter(grayscale(0));
				}
					img.member-photo {
						@include transform(scale(1.1) translateY(-5%) translateZ(0));
					}
				.extra-content {
					@include transform(translateY(0));
				}
			}

		}
	}
}
