/* ----------------------------------------------------------------------------------------------------
landing basic 07
---------------------------------------------------------------------------------------------------- */

section.land-07 {

	.land-icon {
		font-size: 100px;
		color: #d9d9d9;
		margin-bottom: 40px;
	}

	.land-title {
	}

	.land-description {
	}

	.land-header {
	}

	.land-body {
	}

}
