/* ----------------------------------------------------------------------------------------------------
landing basic shop
---------------------------------------------------------------------------------------------------- */

section.land-shop {
	padding-bottom: 0;

	.land-header {
		background: #fff;
		padding: 40px 0;
	}

	.land-icon {
		font-size: 100px;
		color: #d9d9d9;
		// margin-bottom: 40px;
	}

	.land-title {
	}

	.land-description {
	}

	.land-body {
		background: #f7f7f7;
		padding: 40px 0;
	}

}
