/*-------------------------------------------------------------------------*/
/* # OWL SLIDER
/*-------------------------------------------------------------------------*/
#sync1 {
	.item {
		margin: 0 4px 20px;

		img {
			display: block;
		}
	}
}

#sync2 {
	.item {
		background: transparent;
		padding: 2px;
		margin: 0 2px 20px;
		cursor: pointer;
		opacity: 0.5;
		@include transition(all 0.25s ease);
		@include transform(translateZ(0));
		@include filter(grayscale(100%));
		&:hover {
			opacity: 1.0;
			@include filter(grayscale(0));
		}

		img {
			display: block;
		}
	}
	.synced .item {
		background: #0c83e7;
		opacity: 1.0;
		@include filter(grayscale(0));
	}
}

