<section class="land-item land-categories">

	<div class="isotope-container-grid">

		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-01.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>convers all stars</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-02.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>skate boards</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-03.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>guitars</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-04.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>retro bicycle</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-05.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>mens hats</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-06.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>t-shirts</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-07.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>driving gloves</h3>
				</div>
			</a>
		</article>
		
		<article class="isotope-item">
			<a href="#">
				<div class="image-contur">
					<img src="{{ site.baseurl }}/assets/img/landings/shop/categories/categories-08.png" alt="...">
				</div>
				<div class="vertical-centring">
					<h3>magazine</h3>
				</div>
			</a>
		</article>

	</div>

</section>
