
<div class="wow fadeInUp" data-wow-offset="50">
	<section class="land-item land-shop-skills">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="left-part">
						<span class="icon-bag"></span>
						<h4>Our benefits</h4>
						<p>We must strive every day so that this love of living humanity will be transformed into actual deeds, into acts that serve as examples, as a moving force.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium repudiandae at natus neque totam aspernatur.</p>
					</div>

					<div class="right-part">
						<div class="isotope-container-grid">
							<div class="isotope-item">
								<span class="icon-time-truck"></span>
								<h6>Fast and Free Ship</h6>
							</div>
							<div class="isotope-item">
								<span class="icon-medal-star"></span>
								<h6>Best Quality</h6>
							</div>
							<div class="isotope-item">
								<span class="icon-spanners"></span>
								<h6>24/7 Genius Support</h6>
							</div>
							<div class="isotope-item">
								<span class="number-counter">1,000</span>
								<h6>Items in the Store</h6>
							</div>
							<div class="isotope-item">
								<span>24/7</span>
								<h6>Support</h6>
							</div>
							<div class="isotope-item">
								<span class="number-counter">1,200</span>
								<h6>One Click Installation</h6>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
