<div class="wow fadeInUp" data-wow-offset="50">
<section class="land-item land-shop-blog">

	<div class="caption">
		<h5 class="title-iconed"><span class="icon-diploma"></span> From the blog</h5>
		<nav class="arrows">
			<a class="prev" href="#"><span class="icon-arrow-left"></span></a>
			<a class="next" href="#"><span class="icon-arrow-right"></span></a>
		</nav>
	</div>

	<div class="isotope-container-grid">

		<article class="isotope-item">
			<div class="image-contur">
				<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/shop/blog/blog-01.png" alt="..."></a>
				<span class="date">4 October</span>
			</div>
			<div class="text-content">
				<h3>Transitions in ux design</h3>
				<p>The term minimalism is also used to describe a trend in design and architecture where in the subject is reduced to its necessary elements. Minimalist design has been highly influenced by Japanese traditional design and architecture. In addition, the work of De Stijl artists is...</p>
			</div>
		</article>

		<article class="isotope-item">
			<div class="image-contur">
				<a href="#"><img src="{{ site.baseurl }}/assets/img/landings/shop/blog/blog-02.png" alt="..."></a>
				<span class="date">4 October</span>
			</div>
			<div class="text-content">
				<h3>We take pride in supporting you all the way through</h3>
				<p>Lorem ipsum dolor sit amet, ius eu dicit oportere. An suas fabulas scripserit cum, duo eu iriure comprehensam. Eu cum tritani gloriatur, has eu saepe ocurreret, nam no nulla quaerendum intellegebat. Ignota labores interesset.</p>
			</div>
		</article>

	<div>

</section>
<div>
