<section class="land-item land-products">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div class="row">
					<div class="col-sm-4">
						<h5><span class="icon-nuclear"></span> On sale products</h5>
					</div>
					<div class="col-sm-4">
						<h5><span class="icon-ribbon-star"></span> Featured products</h5>
					</div>
					<div class="col-sm-4">
						<h5><span class="icon-crown"></span> Top rated products</h5>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
