
<form class="filter-price-range">
	<div class="row">
		<div class="col-sm-5">
			<input name="from" type="text" class="active-min"/>
		</div>
		<div class="col-sm-2">
			<div class="dash">-</div>
		</div>
		<div class="col-sm-5">
			<input name="to" type="text" class="active-max"/>
		</div>
	</div>
	<div class="input-price-range"></div>
	<div class="row">
		<div class="col-sm-6">
			<input type="text" class="disabled-min" disabled>
		</div>
		<div class="col-sm-6">
			<input type="text" class="disabled-max" disabled>
		</div>
	</div>
	<input class="gbtn gbtn-sm" type="submit" value="Filtered">
</form>
