
<nav class="filter-dropdown">

	<form class="dropdown-form left-side">
		<h5>Showing 1–8 of 21 Results</h5>
		<select name="category">
			<option value="all" selected>All Products</option>
			<option value="accessories">Accessories</option>
			<option value="books-dvds">Books & DVDs</option>
			<option value="gadgets">Gadgets</option>
			<option value="mens-clothing">Men's Clothing</option>
			<option value="womens-clothing">Women's Clothing</option>
		</select>
		<input class="gbtn gbtn-sm" type="submit" value="Filter">
	</form>

	<form class="dropdown-form right-side">
		<h5>Show</h5>
		<select name="show">
			<option value="8items" selected>8 items</option>
			<option value="16items">16 items</option>
			<option value="32items">32 items</option>
			<option value="64items">64 items</option>
			<option value="128items">128 items</option>
		</select>
		<input class="gbtn gbtn-sm" type="submit" value="Filter">
	</form>

	<form class="dropdown-form right-side">
		<h5>Order by</h5>
		<select name="orderby">
			<option value="default" selected>Default</option>
			<option value="popularity">Popularity</option>
			<option value="rating">Average rating</option>
			<option value="date">Newness</option>
			<option value="pricelow">Price: low to high</option>
			<option value="pricehigh">Price: high to low</option>
		</select>
		<input class="gbtn gbtn-sm" type="submit" value="Filter">
	</form>

</nav>

