
<aside class="sidebar">

	<div class="sidebar-item">
		<h4>Search</h4>
		<form class="search">
			<label class="search-icon" for="search">
				<span class="icon-loupe"></span>
			</label>
			<input class="search-input" type="search" name="search" placeholder="Type and hit En" id="search">
		</form>
	</div>

	<div class="sidebar-item">
		<h4>Product Categories</h4>
		<ul class="sidebar-categories">
			<li><a href="#">Activewear & Sports</a></li>
			<li><a href="#">Beautifull Dresses</a></li>
			<li><a href="#">Coats & Sweaters</a></li>
			<li><a href="#">Denim Wear</a></li>
			<li><a href="#">Elegant Shoes</a></li>
			<li><a href="#">Man`s Blazers</a></li>
			<li><a href="#">Original t-shits</a></li>
			<li><a href="#">Stylish Bags</a></li>
		</ul>
	</div>

	<div class="sidebar-item">
		<h4>Price</h4>
		{% include shop/filter-price-range.html %}
	</div>

	<div class="sidebar-item">
		<h4>Brands</h4>

		<form class="check-choice">
			<div class="checkbox">
				<input type="checkbox" id="bvlgari" name="bvlgari" />
				<label for="bvlgari"><span></span>Bvlgari</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="calvin-klein" name="calvin-klein" />
				<label for="calvin-klein"><span></span>Calvin Klein</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="carrera" name="carrera" />
				<label for="carrera"><span></span>Carrera</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="celine" name="celine" />
				<label for="celine"><span></span>Celine</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="chloe" name="chloe" />
				<label for="chloe"><span></span>Chloe</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="dior" name="dior" />
				<label for="dior"><span></span>Dior</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="dolce-gabbana" name="dolce-gabbana" />
				<label for="dolce-gabbana"><span></span>Dolce & Gabbana</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="emporio-armani" name="emporio-armani" />
				<label for="emporio-armani"><span></span>Emporio Armani</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="fendi" name="fendi" />
				<label for="fendi"><span></span>Fendi</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="giorgio-armani" name="giorgio-armani" />
				<label for="giorgio-armani"><span></span>Giorgio Armani</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="gucci" name="gucci" />
				<label for="gucci"><span></span>Gucci</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="marc-jacobs" name="marc-jacobs" />
				<label for="marc-jacobs"><span></span>Marc Jacobs</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="michael-kors" name="michael-kors" />
				<label for="michael-kors"><span></span>Michael Kors</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="oakley" name="oakley" />
				<label for="oakley"><span></span>Oakley</label>
			</div>

			<div class="checkbox">
				<input type="checkbox" id="oliver-peoples" name="oliver-peoples" />
				<label for="oliver-peoples"><span></span>Oliver Peoples</label>
			</div>

			<button class="gbtn gbtn-sm" type="submit"><span class="icon-filter"></span> Filter</button>
		</form>
	</div>

	<div class="sidebar-item">
		<h4>Related Products</h4>

		<div class="similar">

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/shop/list-classic-01-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">A Must for a Flexitarian</a></h5>
					<span class="price">£1,650.00</span>
				</div>
			</div>

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/shop/list-classic-02-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">Oatmeal Slang Table Lamp Base</a></h5>
					<span class="price">£1,420.25</span>
				</div>
			</div>

			<div class="similar-item">
				<div class="image-contur">
					<a href="#"><img src="{{ site.baseurl }}/assets/img/shop/list-classic-03-thumbnail.jpg" alt="..."></a>
				</div>
				<div class="text-content">
					<h5><a href="#">Classic Brown Leather Bag with Orange Details</a></h5>
					<span class="price">£389.00</span>
				</div>
			</div>

		</div>

	</div>

</aside>

