<div class="sidebar">

	<div class="sidebar__item categories">
		<div class="sidebar__item__title">Product Categories</div>
		<ul>
			<li><a href="#">Activewear & Sports</a></li>
			<li><a href="#">Beautifull Dresses</a></li>
			<li><a href="#">Coats & Sweaters</a></li>
			<li><a href="#">Denim Wear</a></li>
			<li><a href="#">Elegant Shoes</a></li>
			<li><a href="#">Man`s Blazers</a></li>
			<li><a href="#">Original t-shits</a></li>
			<li><a href="#">Stylish Bags</a></li>
		</ul>
	</div>

	<div class="sidebar__item filter">
		<div class="sidebar__item__title">Filter</div>
		<div class="sidebar__item__subtitle">Price</div>
		<form action="" class="filter__form">
				<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
				<input type="text" id="amount">
				<div id="slider-range"></div>
				<!--
				210.00
				- 
				1.560.00
				£100
				£3.650.00
				Filtered
				-->
				<button class="btn btn-primary" type="submit">Filtered</button>
		</form>

		<div class="sidebar__item__subtitle">Brands</div>

		<label class="checkbox" for="checkbox1">
			<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox">
			<span class="icons">
				<span class="icon-unchecked"></span>
				<span class="icon-checked"></span>
			</span>
			Unchecked
		</label>

<div class="geo-radio">
  <input type="radio" id="radio01" name="radio" />
  <label for="radio01"><span></span>Radio Button 1</label>
</div>

<div class="geo-radio">
 <input type="radio" id="radio02" name="radio" />
 <label for="radio02"><span></span>Radio Button 2</label>
</div>


		<div class="checkbox">
			<label><input type="checkbox"> Bvlgari</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Calvin Klein Collection</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Carrera</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Celine</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Chloe</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Dior</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Dolce & Gabbana</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Emporio Armani</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Fendi</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Giorgio Armani</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Gucci</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Marc By Marc Jacobs</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Michael Kors</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Oakley</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Oliver Peoples</label>
		</div>

		<a href="#" class="clear-all">Clear all</a>
	</div>

	<div class="sidebar__item search">
		<div class="sidebar__item__title">Search</div>
		<form class="search">
			<label class="search__icon" for="search">
				<span class="icon-loupe"></span>
			</label>
			<input class="search__input" type="search" name="search" placeholder="Type and hit En" id="search">
		</form>
	</div>

	<div class="sidebar__item">
		<div class="sidebar__item__title">The Best Sellers</div>
		<ul class="bestsales">
			<li class="bestsales__item">
				<a href="/html/shop/geo-shopitem.php">
					<img class="bestsales__item__img" src="{{site.baseurl}}/assets/img/shop/list-classic-01.jpg" alt="...">
					<span class="bestsales__item__title">Jack Wills Polo Shirt</span>
				</a>
				<span class="bestsales__item__price">£1.560.00</span>
			</li>
			<li class="bestsales__item">
				<a href="/html/shop/geo-shopitem.php">
					<img class="bestsales__item__img" src="{{site.baseurl}}/assets/img/shop/list-classic-02.jpg" alt="...">
					<span class="bestsales__item__title">Jack Wills Polo Shirt</span>
				</a>
				<span class="bestsales__item__price">£1.560.00</span>
			</li>
			<li class="bestsales__item">
				<a href="/html/shop/geo-shopitem.php">
					<img class="bestsales__item__img" src="{{site.baseurl}}/assets/img/shop/list-classic-03.jpg" alt="...">
					<span class="bestsales__item__title">Jack Wills Polo Shirt</span>
				</a>
				<span class="bestsales__item__price">£1.560.00</span>
			</li>
		</ul>
	</div>

</div>
