
<div class="container">
	<div class="row">
		<div class="col-sm-6">

			<section class="shopitem-slider">

				<div id="slider-with-carousel" class="flexslider">
					<ul class="slides">
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-01-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-01-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery"
								data-fresco-group-options="ui: 'inside'">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-02-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-02-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-03-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-03-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-04-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-04-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-05-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-05-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-06-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-06-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
						<li>
							<img src="{{ site.baseurl }}/assets/img/shop/item/item-07-hd.jpg" alt="...">
							<a href="{{ site.baseurl }}/assets/img/shop/item/item-07-hd.jpg"
								class="fresco"
								data-fresco-group="product-gallery">
								<span class="icon-zoomin"></span>
							</a>
						</li>
					</ul>
				</div>
				<div id="carousel-nav" class="flexslider">
					<ul class="slides">
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-01-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-02-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-03-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-04-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-05-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-06-th.jpg" alt="..."></li>
						<li><img src="{{ site.baseurl }}/assets/img/shop/item/item-07-th.jpg" alt="..."></li>
					</ul>
				</div>

				<span class="status status-sale">Sale</span>
			</section>

		</div>
		<div class="col-sm-6">

			<div class="shopitem-header">

				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li class="active">Coats & Jackets</li>
				</ol>

				<h1>Black Leather Dress</h1>

				{% include global/item-rating.html %}

				<div class="shopitem__arrows arrows-a">
					<a href="#" class="arrows-a__prev"><span class="icon-arrow-left"></span></a>
					<a href="#" class="arrows-a__next"><span class="icon-arrow-right"></span></a>
				</div>

			</div>

			<form class="shopitem-form">

				<div class="size-row">
					<div class="title">Size:</div>
					<div class="list">
						<div class="item">
							<input type="radio" id="size-xs" name="size" value="xs">
							<label for="size-xs">XS</label>
						</div>
						<div class="item">
							<input type="radio" id="size-s" name="size" value="s">
							<label for="size-s">S</label>
						</div>
						<div class="item">
							<input type="radio" id="size-m" name="size" value="m" checked>
							<label for="size-m">M</label>
						</div>
						<div class="item">
							<input type="radio" id="size-l" name="size" value="l">
							<label for="size-l">L</label>
						</div>
						<div class="item">
							<input type="radio" id="size-xl" name="size" value="xl">
							<label for="size-xl">XL</label>
						</div>
						<div class="item">
							<input type="radio" id="size-xll" name="size" value="xxl">
							<label for="size-xll">XXL</label>
						</div>
					</div>
				</div>

				<div class="color-row">
					<div class="title">Color:</div>
					<select name="color" required>
						<option value="black">Black</option>
						<option value="white">White</option>
						<option value="red" selected>Red</option>
						<option value="yellow">Yellow</option>
						<option value="pink">Pink</option>
					</select>
				</div>

				<div class="add-row">
					<div class="shopitem-form-price">£230.00 <del>£320.00</del></div>
					<input type="hidden" name="product" value="7777">
					<button type="submit" class="gbtn gbtn-lg"><span class="icon-cart"></span> Add to cart</button>
					<div class="shopitem-quantity">
						<button type="button" class="quantity-minus" field="quantity"><span class="icon-minus-filled"></span></button>
						<input type="number" class="quantity" name="quantity" value="1" min="1">
						<button type="button" class="quantity-plus" field="quantity"><span class="icon-plus-filled"></span></button>
					</div>
				</div>

			</form>

			<p class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

			<p class="sku">SKU: 4324231546</p>

			<p class="categories">Categories:
				<a href="#">Coats & Jackets</a>,
				<a href="#">Women's Clothing</a>.
			</p>

			<p class="tags">Tags: 
				<a href="#">Responsive</a>,
				<a href="#">Theme</a>.
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">

			<div class="vtabs" role="tabpanel">

				<ul class="vtabs__tablist" role="tablist">
					<li role="presentation" class="vtabs__tablist__item"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
					<li role="presentation" class="vtabs__tablist__item"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Additional Information</a></li>
					<li role="presentation" class="vtabs__tablist__item active"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <span>(3)</span></a></li>
				</ul>

				<div class="vtabs__tabcontent">
					<div role="tabpanel" class="vtabs__tabcontent__item" id="Description">
						<p>Meggings next level yr, 90’s small batch four loko brunch wes anderson fixie american apparel flexitarian pitchfork neutra. Constructed in cotton sweat fabric, this lovely piece, lacus eu mattis auctor, dolor lectus venenatis nulla, at tristique eros sem vel ante. Sed leo enim, iaculis ornare tristique non, vulputate sit amet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean fringilla laoreet mauris lectus pellentesque eu.</p>
					</div>

					<div role="tabpanel" class="vtabs__tabcontent__item" id="Information">
						<table class="gtable">
							<tbody>
								<tr>
									<th>Weight</th>
									<td>1.5 kg</td>
								</tr>
								<tr>
									<th>Dimensions</th>
									<td>90 x 60 x 90 cm</td>
								</tr>
								<tr>
									<th>Composition</th>
									<td>100% Cotton</td>
								</tr>
								<tr>
									<th>Size & Fit</th>
									<td>This style comes in a regular fit which fits true to size.</td>
								</tr>
								<tr>
									<th>Other Info</th>
									<td>Machine wash according to instructions on care label</td>
								</tr>
								<tr>
									<th>Size</th>
									<td>One Size Fits All, Extra Small, Small, Medium, Large, Extra Large</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div role="tabpanel" class="vtabs__tabcontent__item active" id="Reviews">

						{% include shop/reviews.html %}

					</div>
				</div>

			</div>

			{% include global/similar-default.html %}

		</div>
	</div>
</div>

